<div class="container">

    <main id="content" class="content-left" role="main" style="min-height: 110.812px;">
        <article class="not-found no_header_banner">
            <header class="header">
                <h1 class="entry-title">Not Found</h1>
            </header>
            <section class="entry-content section-last">
                <p>Nothing found for the requested page. Try a search instead?</p>
                
<form role="search" method="get" class="searchform" action="/search">
	<label>
		<span class="screen-reader-text">Search for:</span>
		<input type="search" class="search-field" placeholder="Search site …" value="" name="q">
	</label>
	<button type="submit" class="search-submit icons8-google-web-search">Go <span class="screen-reader-text">Search</span></button>
</form>
            </section>
        </article>
    </main>
    
</div>