<div class="container-small clearfix">
    <main id="content" class="content-full" role="main" style="min-height: 109.812px;">
        <header class="woocommerce-products-header">
            <h1 class="woocommerce-products-header__title page-title">{{ collection.title }}</h1>
        </header>
        <div class="row">
            <div class="col-6 col-md-4" style="text-align: center;">
                <a href="https://twinxl.com/product/flannel-duvet-cover-set-twin-xl/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
                    <img width="300" height="300" src="https://twinxl.com/wp-content/uploads/2020/04/Light-Blue-Flannel-Duvet-Cover-01-5903-NO-LOGO-OR-COLORBAR-300x300.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" loading="lazy" srcset="https://twinxl.com/wp-content/uploads/2020/04/Light-Blue-Flannel-Duvet-Cover-01-5903-NO-LOGO-OR-COLORBAR-300x300.jpg 300w, https://twinxl.com/wp-content/uploads/2020/04/Light-Blue-Flannel-Duvet-Cover-01-5903-NO-LOGO-OR-COLORBAR-1024x1024.jpg 1024w, https://twinxl.com/wp-content/uploads/2020/04/Light-Blue-Flannel-Duvet-Cover-01-5903-NO-LOGO-OR-COLORBAR-150x150.jpg 150w, https://twinxl.com/wp-content/uploads/2020/04/Light-Blue-Flannel-Duvet-Cover-01-5903-NO-LOGO-OR-COLORBAR-768x768.jpg 768w, https://twinxl.com/wp-content/uploads/2020/04/Light-Blue-Flannel-Duvet-Cover-01-5903-NO-LOGO-OR-COLORBAR-1536x1536.jpg 1536w, https://twinxl.com/wp-content/uploads/2020/04/Light-Blue-Flannel-Duvet-Cover-01-5903-NO-LOGO-OR-COLORBAR-2048x2048.jpg 2048w, https://twinxl.com/wp-content/uploads/2020/04/Light-Blue-Flannel-Duvet-Cover-01-5903-NO-LOGO-OR-COLORBAR-600x600.jpg 600w, https://twinxl.com/wp-content/uploads/2020/04/Light-Blue-Flannel-Duvet-Cover-01-5903-NO-LOGO-OR-COLORBAR-100x100.jpg 100w, https://twinxl.com/wp-content/uploads/2020/04/Light-Blue-Flannel-Duvet-Cover-01-5903-NO-LOGO-OR-COLORBAR.jpg 2500w" sizes="(max-width: 300px) 100vw, 300px">
                    <h2 class="woocommerce-loop-product__title">Flannel Duvet Cover Set</h2>
                    <span class="price">
                        <span class="woocommerce-Price-amount amount">
                            <bdi><span class="woocommerce-Price-currencySymbol">$</span>42.99</bdi>
                        </span>
                    </span>
                </a>
            </div>
            <div class="col-6 col-md-4" style="text-align: center;">
                <a href="https://twinxl.com/product/sandwashed-duvet-cover-set-twin-xl/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
                    <img width="300" height="300" src="https://twinxl.com/wp-content/uploads/2020/03/Bering-Sea-Sandwash-Duvet-Cover-01-5903-300x300.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" loading="lazy" srcset="https://twinxl.com/wp-content/uploads/2020/03/Bering-Sea-Sandwash-Duvet-Cover-01-5903-300x300.jpg 300w, https://twinxl.com/wp-content/uploads/2020/03/Bering-Sea-Sandwash-Duvet-Cover-01-5903-1024x1024.jpg 1024w, https://twinxl.com/wp-content/uploads/2020/03/Bering-Sea-Sandwash-Duvet-Cover-01-5903-150x150.jpg 150w, https://twinxl.com/wp-content/uploads/2020/03/Bering-Sea-Sandwash-Duvet-Cover-01-5903-768x768.jpg 768w, https://twinxl.com/wp-content/uploads/2020/03/Bering-Sea-Sandwash-Duvet-Cover-01-5903-1536x1536.jpg 1536w, https://twinxl.com/wp-content/uploads/2020/03/Bering-Sea-Sandwash-Duvet-Cover-01-5903-2048x2048.jpg 2048w, https://twinxl.com/wp-content/uploads/2020/03/Bering-Sea-Sandwash-Duvet-Cover-01-5903-600x600.jpg 600w, https://twinxl.com/wp-content/uploads/2020/03/Bering-Sea-Sandwash-Duvet-Cover-01-5903-100x100.jpg 100w, https://twinxl.com/wp-content/uploads/2020/03/Bering-Sea-Sandwash-Duvet-Cover-01-5903.jpg 2500w" sizes="(max-width: 300px) 100vw, 300px">
                    <h2 class="woocommerce-loop-product__title">Sandwash Duvet Cover Set</h2>
                    <span class="price">
                        <span class="woocommerce-Price-amount amount">
                            <bdi><span class="woocommerce-Price-currencySymbol">$</span>29.99</bdi>
                        </span>
                    </span>
                </a>
            </div>
            <div class="col-6 col-md-4" style="text-align: center;">
                <a href="https://twinxl.com/product/twin-twin-xl-microfiber-duvet-cover-set/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
                    <img width="300" height="300" src="https://twinxl.com/wp-content/uploads/2020/01/Dark-Blue-Duvet-Cover-Folded-0918-19-11-29-300x300.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" loading="lazy" srcset="https://twinxl.com/wp-content/uploads/2020/01/Dark-Blue-Duvet-Cover-Folded-0918-19-11-29-300x300.jpg 300w, https://twinxl.com/wp-content/uploads/2020/01/Dark-Blue-Duvet-Cover-Folded-0918-19-11-29-1024x1024.jpg 1024w, https://twinxl.com/wp-content/uploads/2020/01/Dark-Blue-Duvet-Cover-Folded-0918-19-11-29-150x150.jpg 150w, https://twinxl.com/wp-content/uploads/2020/01/Dark-Blue-Duvet-Cover-Folded-0918-19-11-29-768x768.jpg 768w, https://twinxl.com/wp-content/uploads/2020/01/Dark-Blue-Duvet-Cover-Folded-0918-19-11-29-1536x1536.jpg 1536w, https://twinxl.com/wp-content/uploads/2020/01/Dark-Blue-Duvet-Cover-Folded-0918-19-11-29-2048x2048.jpg 2048w, https://twinxl.com/wp-content/uploads/2020/01/Dark-Blue-Duvet-Cover-Folded-0918-19-11-29-600x600.jpg 600w, https://twinxl.com/wp-content/uploads/2020/01/Dark-Blue-Duvet-Cover-Folded-0918-19-11-29-100x100.jpg 100w, https://twinxl.com/wp-content/uploads/2020/01/Dark-Blue-Duvet-Cover-Folded-0918-19-11-29.jpg 2500w" sizes="(max-width: 300px) 100vw, 300px">
                    <h2 class="woocommerce-loop-product__title">Microfiber Duvet Cover Set</h2>
                    <span class="price">
                        <span class="woocommerce-Price-amount amount">
                            <bdi><span class="woocommerce-Price-currencySymbol">$</span>27.99</bdi>
                        </span>
                    </span>
                </a>
            </div>
            <div class="col-6 col-md-4" style="text-align: center;">
                <a href="https://twinxl.com/product/twin-twin-xl-down-alternative-comforter-duvet-insert/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
                    <img width="300" height="300" src="https://twinxl.com/wp-content/uploads/2020/01/White-Reversible-Comforter-Fold-300x300.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" loading="lazy" srcset="https://twinxl.com/wp-content/uploads/2020/01/White-Reversible-Comforter-Fold-300x300.jpg 300w, https://twinxl.com/wp-content/uploads/2020/01/White-Reversible-Comforter-Fold-150x150.jpg 150w, https://twinxl.com/wp-content/uploads/2020/01/White-Reversible-Comforter-Fold-768x768.jpg 768w, https://twinxl.com/wp-content/uploads/2020/01/White-Reversible-Comforter-Fold-600x600.jpg 600w, https://twinxl.com/wp-content/uploads/2020/01/White-Reversible-Comforter-Fold-100x100.jpg 100w, https://twinxl.com/wp-content/uploads/2020/01/White-Reversible-Comforter-Fold.jpg 1000w" sizes="(max-width: 300px) 100vw, 300px">
                    <h2 class="woocommerce-loop-product__title">Down Alternative Duvet Insert</h2>
                    <span class="price">
                        <span class="woocommerce-Price-amount amount">
                            <bdi><span class="woocommerce-Price-currencySymbol">$</span>38.99</bdi>
                        </span>
                    </span>
                </a>
            </div>
        </div>
    </main>
</div>