<div class="container-small clearfix">
    <main id="content" class="content-full" role="main" style="min-height: 109.812px;">
        <header class="woocommerce-products-header">
            <h1 class="woocommerce-products-header__title page-title">Twin</h1>
        </header>
        <div class="row">
            <div class="col-6 col-md-4" style="text-align: center;">
                <a href="https://twinxl.com/product/twin-twin-xl-microfiber-diamond-stitched-coverlet-set/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
                    <img width="300" height="300" src="https://twinxl.com/wp-content/uploads/2020/01/White-Microfiber-Coverlet-Folded-0924-19-11-29-300x300.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" loading="lazy" srcset="https://twinxl.com/wp-content/uploads/2020/01/White-Microfiber-Coverlet-Folded-0924-19-11-29-300x300.jpg 300w, https://twinxl.com/wp-content/uploads/2020/01/White-Microfiber-Coverlet-Folded-0924-19-11-29-1024x1024.jpg 1024w, https://twinxl.com/wp-content/uploads/2020/01/White-Microfiber-Coverlet-Folded-0924-19-11-29-150x150.jpg 150w, https://twinxl.com/wp-content/uploads/2020/01/White-Microfiber-Coverlet-Folded-0924-19-11-29-768x768.jpg 768w, https://twinxl.com/wp-content/uploads/2020/01/White-Microfiber-Coverlet-Folded-0924-19-11-29-1536x1536.jpg 1536w, https://twinxl.com/wp-content/uploads/2020/01/White-Microfiber-Coverlet-Folded-0924-19-11-29-2048x2048.jpg 2048w, https://twinxl.com/wp-content/uploads/2020/01/White-Microfiber-Coverlet-Folded-0924-19-11-29-600x600.jpg 600w, https://twinxl.com/wp-content/uploads/2020/01/White-Microfiber-Coverlet-Folded-0924-19-11-29-100x100.jpg 100w, https://twinxl.com/wp-content/uploads/2020/01/White-Microfiber-Coverlet-Folded-0924-19-11-29.jpg 2500w" sizes="(max-width: 300px) 100vw, 300px">
                    <h2 class="woocommerce-loop-product__title">Coverlet Set</h2>
                    <span class="price">
                        <span class="woocommerce-Price-amount amount">
                            <bdi><span class="woocommerce-Price-currencySymbol">$</span>39.99</bdi>
                        </span>
                    </span>
                </a>
            </div>
            <div class="col-6 col-md-4" style="text-align: center;">
                <a href="https://twinxl.com/product/twin-twin-xl-microfiber-duvet-cover-set/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
                    <img width="300" height="300" src="https://twinxl.com/wp-content/uploads/2020/01/Dark-Blue-Duvet-Cover-Folded-0918-19-11-29-300x300.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" loading="lazy" srcset="https://twinxl.com/wp-content/uploads/2020/01/Dark-Blue-Duvet-Cover-Folded-0918-19-11-29-300x300.jpg 300w, https://twinxl.com/wp-content/uploads/2020/01/Dark-Blue-Duvet-Cover-Folded-0918-19-11-29-1024x1024.jpg 1024w, https://twinxl.com/wp-content/uploads/2020/01/Dark-Blue-Duvet-Cover-Folded-0918-19-11-29-150x150.jpg 150w, https://twinxl.com/wp-content/uploads/2020/01/Dark-Blue-Duvet-Cover-Folded-0918-19-11-29-768x768.jpg 768w, https://twinxl.com/wp-content/uploads/2020/01/Dark-Blue-Duvet-Cover-Folded-0918-19-11-29-1536x1536.jpg 1536w, https://twinxl.com/wp-content/uploads/2020/01/Dark-Blue-Duvet-Cover-Folded-0918-19-11-29-2048x2048.jpg 2048w, https://twinxl.com/wp-content/uploads/2020/01/Dark-Blue-Duvet-Cover-Folded-0918-19-11-29-600x600.jpg 600w, https://twinxl.com/wp-content/uploads/2020/01/Dark-Blue-Duvet-Cover-Folded-0918-19-11-29-100x100.jpg 100w, https://twinxl.com/wp-content/uploads/2020/01/Dark-Blue-Duvet-Cover-Folded-0918-19-11-29.jpg 2500w" sizes="(max-width: 300px) 100vw, 300px">
                    <h2 class="woocommerce-loop-product__title">Microfiber Duvet Cover Set</h2>
                    <span class="price">
                        <span class="woocommerce-Price-amount amount">
                            <bdi><span class="woocommerce-Price-currencySymbol">$</span>27.99</bdi>
                        </span>
                    </span>
                </a>
            </div>
            <div class="col-6 col-md-4" style="text-align: center;">
                <a href="https://twinxl.com/product/twin-twin-xl-down-alternative-comforter-duvet-insert/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
                    <img width="300" height="300" src="https://twinxl.com/wp-content/uploads/2020/01/White-Reversible-Comforter-Fold-300x300.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" loading="lazy" srcset="https://twinxl.com/wp-content/uploads/2020/01/White-Reversible-Comforter-Fold-300x300.jpg 300w, https://twinxl.com/wp-content/uploads/2020/01/White-Reversible-Comforter-Fold-150x150.jpg 150w, https://twinxl.com/wp-content/uploads/2020/01/White-Reversible-Comforter-Fold-768x768.jpg 768w, https://twinxl.com/wp-content/uploads/2020/01/White-Reversible-Comforter-Fold-600x600.jpg 600w, https://twinxl.com/wp-content/uploads/2020/01/White-Reversible-Comforter-Fold-100x100.jpg 100w, https://twinxl.com/wp-content/uploads/2020/01/White-Reversible-Comforter-Fold.jpg 1000w" sizes="(max-width: 300px) 100vw, 300px">
                    <h2 class="woocommerce-loop-product__title">Down Alternative Duvet Insert</h2>
                    <span class="price">
                        <span class="woocommerce-Price-amount amount">
                            <bdi><span class="woocommerce-Price-currencySymbol">$</span>38.99</bdi>
                        </span>
                    </span>
                </a>
            </div>
            <div class="col-6 col-md-4" style="text-align: center;">
                <a href="https://twinxl.com/product/twin-twin-xl-reversible-ultra-soft-down-alternative-comforter/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
                    <img width="300" height="300" src="https://twinxl.com/wp-content/uploads/2020/01/Grey-Dark-Blue-Reversible-Comforter-Fold-300x300.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" loading="lazy" srcset="https://twinxl.com/wp-content/uploads/2020/01/Grey-Dark-Blue-Reversible-Comforter-Fold-300x300.jpg 300w, https://twinxl.com/wp-content/uploads/2020/01/Grey-Dark-Blue-Reversible-Comforter-Fold-150x150.jpg 150w, https://twinxl.com/wp-content/uploads/2020/01/Grey-Dark-Blue-Reversible-Comforter-Fold-768x768.jpg 768w, https://twinxl.com/wp-content/uploads/2020/01/Grey-Dark-Blue-Reversible-Comforter-Fold-600x600.jpg 600w, https://twinxl.com/wp-content/uploads/2020/01/Grey-Dark-Blue-Reversible-Comforter-Fold-100x100.jpg 100w, https://twinxl.com/wp-content/uploads/2020/01/Grey-Dark-Blue-Reversible-Comforter-Fold.jpg 1000w" sizes="(max-width: 300px) 100vw, 300px">
                    <h2 class="woocommerce-loop-product__title">Reversible Down Alternative Comforter</h2>
                    <span class="price">
                        <span class="woocommerce-Price-amount amount">
                            <bdi><span class="woocommerce-Price-currencySymbol">$</span>37.99</bdi>
                        </span>
                    </span>
                </a>
            </div>
            <div class="col-6 col-md-4" style="text-align: center;">
                <a href="https://twinxl.com/product/twin-xl-microfiber-flat-sheet/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
                    <img width="300" height="300" src="https://twinxl.com/wp-content/uploads/2020/01/Grey-01-Single-Micrifiber-Top-Sheet-0986-19-11-27-300x300.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" loading="lazy" srcset="https://twinxl.com/wp-content/uploads/2020/01/Grey-01-Single-Micrifiber-Top-Sheet-0986-19-11-27-300x300.jpg 300w, https://twinxl.com/wp-content/uploads/2020/01/Grey-01-Single-Micrifiber-Top-Sheet-0986-19-11-27-1024x1024.jpg 1024w, https://twinxl.com/wp-content/uploads/2020/01/Grey-01-Single-Micrifiber-Top-Sheet-0986-19-11-27-150x150.jpg 150w, https://twinxl.com/wp-content/uploads/2020/01/Grey-01-Single-Micrifiber-Top-Sheet-0986-19-11-27-768x768.jpg 768w, https://twinxl.com/wp-content/uploads/2020/01/Grey-01-Single-Micrifiber-Top-Sheet-0986-19-11-27-1536x1536.jpg 1536w, https://twinxl.com/wp-content/uploads/2020/01/Grey-01-Single-Micrifiber-Top-Sheet-0986-19-11-27-2048x2048.jpg 2048w, https://twinxl.com/wp-content/uploads/2020/01/Grey-01-Single-Micrifiber-Top-Sheet-0986-19-11-27-600x600.jpg 600w, https://twinxl.com/wp-content/uploads/2020/01/Grey-01-Single-Micrifiber-Top-Sheet-0986-19-11-27-100x100.jpg 100w, https://twinxl.com/wp-content/uploads/2020/01/Grey-01-Single-Micrifiber-Top-Sheet-0986-19-11-27.jpg 2500w" sizes="(max-width: 300px) 100vw, 300px">
                    <h2 class="woocommerce-loop-product__title">Microfiber Flat Sheet</h2>
                    <span class="price">
                        <span class="woocommerce-Price-amount amount">
                            <bdi><span class="woocommerce-Price-currencySymbol">$</span>14.99</bdi>
                        </span>
                    </span>
                </a>
            </div>
        </div>
        <nav class="woocommerce-pagination">
            <ul class="page-numbers" style="display: table; border: 1px solid #d3ced2; margin-left: auto; margin-right: auto; margin-top: 30px;">
                <li style="display: inline-block; border-right: 1px solid #d3ced2; margin: 0; text-align: center; line-height: 30px; width: 30px;">
                    <a class="prev page-numbers" href="{{ shop.url }}/collections/twin">←</a>
                </li>
                <li style="display: inline-block; border-right: 1px solid #d3ced2; margin: 0; text-align: center; line-height: 30px; width: 30px;">
                    <a class="page-numbers" href="{{ shop.url }}/collections/twin">1</a>
                </li>
                <li style="display: inline-block; margin: 0; text-align: center; line-height: 30px; width: 30px; background-color: #ebe9eb;">
                    <span aria-current="page" class="page-numbers current">2</span>
                </li>
            </ul>
        </nav>
    </main>
</div>