<div class="container-small clearfix">
    <main id="content" class="content-full" role="main" style="min-height: 109.812px;">
        <header class="woocommerce-products-header">
            <h1 class="woocommerce-products-header__title page-title">{{ collection.title }}</h1>
        </header>

        <ul class="products columns-3">
            <li class="product type-product post-2938 status-publish first instock product_cat-full-xl product_cat-full-xl-comforters-sets product_tag-comforter product_tag-comforter-set product_tag-down-alternative product_tag-full-extra-long product_tag-full-xl product_tag-microfiber product_tag-pillow-sham has-post-thumbnail taxable shipping-taxable purchasable product-type-variable has-default-attributes">
                <a href="https://twinxl.com/product/full-queen-down-alternative-microfiber-comforter-set/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
                    <img width="300" height="300" src="https://twinxl.com/wp-content/uploads/2020/01/Grey-Comforter-Set-Fold-19-11-29-300x300.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" loading="lazy" srcset="https://twinxl.com/wp-content/uploads/2020/01/Grey-Comforter-Set-Fold-19-11-29-300x300.jpg 300w, https://twinxl.com/wp-content/uploads/2020/01/Grey-Comforter-Set-Fold-19-11-29-1024x1024.jpg 1024w, https://twinxl.com/wp-content/uploads/2020/01/Grey-Comforter-Set-Fold-19-11-29-150x150.jpg 150w, https://twinxl.com/wp-content/uploads/2020/01/Grey-Comforter-Set-Fold-19-11-29-768x768.jpg 768w, https://twinxl.com/wp-content/uploads/2020/01/Grey-Comforter-Set-Fold-19-11-29-1536x1536.jpg 1536w, https://twinxl.com/wp-content/uploads/2020/01/Grey-Comforter-Set-Fold-19-11-29-2048x2048.jpg 2048w, https://twinxl.com/wp-content/uploads/2020/01/Grey-Comforter-Set-Fold-19-11-29-600x600.jpg 600w, https://twinxl.com/wp-content/uploads/2020/01/Grey-Comforter-Set-Fold-19-11-29-100x100.jpg 100w, https://twinxl.com/wp-content/uploads/2020/01/Grey-Comforter-Set-Fold-19-11-29.jpg 2500w" sizes="(max-width: 300px) 100vw, 300px">
                    <h2 class="woocommerce-loop-product__title">Down Alternative Comforter Set</h2>
                    <span class="price">
                        <span class="woocommerce-Price-amount amount">
                            <bdi><span class="woocommerce-Price-currencySymbol">$</span>45.99</bdi>
                        </span>
                    </span>
                </a>
            </li>
            <li class="product type-product post-2984 status-publish instock product_cat-full-xl product_cat-full-xl-comforters-sets product_tag-coverlet product_tag-coverlet-set product_tag-full-extra-long product_tag-full-xl product_tag-microfiber product_tag-pillow-sham has-post-thumbnail taxable shipping-taxable purchasable product-type-variable has-default-attributes">
                <a href="https://twinxl.com/product/full-queen-microfiber-diamond-stitched-coverlet-set/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
                    <img width="300" height="300" src="https://twinxl.com/wp-content/uploads/2020/01/Dark-Blue-Microfiber-Coverlet-Folded-0924-19-11-29-300x300.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" loading="lazy" srcset="https://twinxl.com/wp-content/uploads/2020/01/Dark-Blue-Microfiber-Coverlet-Folded-0924-19-11-29-300x300.jpg 300w, https://twinxl.com/wp-content/uploads/2020/01/Dark-Blue-Microfiber-Coverlet-Folded-0924-19-11-29-1024x1024.jpg 1024w, https://twinxl.com/wp-content/uploads/2020/01/Dark-Blue-Microfiber-Coverlet-Folded-0924-19-11-29-150x150.jpg 150w, https://twinxl.com/wp-content/uploads/2020/01/Dark-Blue-Microfiber-Coverlet-Folded-0924-19-11-29-768x768.jpg 768w, https://twinxl.com/wp-content/uploads/2020/01/Dark-Blue-Microfiber-Coverlet-Folded-0924-19-11-29-1536x1536.jpg 1536w, https://twinxl.com/wp-content/uploads/2020/01/Dark-Blue-Microfiber-Coverlet-Folded-0924-19-11-29-2048x2048.jpg 2048w, https://twinxl.com/wp-content/uploads/2020/01/Dark-Blue-Microfiber-Coverlet-Folded-0924-19-11-29-600x600.jpg 600w, https://twinxl.com/wp-content/uploads/2020/01/Dark-Blue-Microfiber-Coverlet-Folded-0924-19-11-29-100x100.jpg 100w, https://twinxl.com/wp-content/uploads/2020/01/Dark-Blue-Microfiber-Coverlet-Folded-0924-19-11-29.jpg 2500w" sizes="(max-width: 300px) 100vw, 300px">
                    <h2 class="woocommerce-loop-product__title">Coverlet Set</h2>
                    <span class="price">
                        <span class="woocommerce-Price-amount amount">
                            <bdi><span class="woocommerce-Price-currencySymbol">$</span>44.99</bdi>
                        </span>
                    </span>
                </a>
            </li>
            <li class="product type-product post-2963 status-publish last instock product_cat-full-xl product_cat-full-xl-comforters-sets product_tag-comforter product_tag-down-alternative product_tag-full-extra-long product_tag-full-xl product_tag-microfiber product_tag-reversible has-post-thumbnail taxable shipping-taxable purchasable product-type-variable has-default-attributes">
                <a href="https://twinxl.com/product/full-queen-reversible-ultra-soft-down-alternative-comforter/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
                    <img width="300" height="300" src="https://twinxl.com/wp-content/uploads/2020/01/Light-Blue-and-Dark-Blue-Reversible-Comforter-Fold-300x300.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" loading="lazy" srcset="https://twinxl.com/wp-content/uploads/2020/01/Light-Blue-and-Dark-Blue-Reversible-Comforter-Fold-300x300.jpg 300w, https://twinxl.com/wp-content/uploads/2020/01/Light-Blue-and-Dark-Blue-Reversible-Comforter-Fold-150x150.jpg 150w, https://twinxl.com/wp-content/uploads/2020/01/Light-Blue-and-Dark-Blue-Reversible-Comforter-Fold-768x768.jpg 768w, https://twinxl.com/wp-content/uploads/2020/01/Light-Blue-and-Dark-Blue-Reversible-Comforter-Fold-600x600.jpg 600w, https://twinxl.com/wp-content/uploads/2020/01/Light-Blue-and-Dark-Blue-Reversible-Comforter-Fold-100x100.jpg 100w, https://twinxl.com/wp-content/uploads/2020/01/Light-Blue-and-Dark-Blue-Reversible-Comforter-Fold.jpg 1000w" sizes="(max-width: 300px) 100vw, 300px">
                    <h2 class="woocommerce-loop-product__title">Reversible Down Alternative Comforter</h2>
                    <span class="price">
                        <span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">$</span>42.99</bdi></span> – <span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">$</span>44.99</bdi></span>
                    </span>
                </a>
            </li>
            <li class="product type-product post-2961 status-publish first instock product_cat-full-xl product_cat-full-xl-comforters-sets product_cat-full-xl-duvets-sets product_tag-comforter product_tag-down-alternative product_tag-duvet-insert product_tag-full-extra-long product_tag-full-xl product_tag-microfiber has-post-thumbnail taxable shipping-taxable purchasable product-type-simple">
                <a href="https://twinxl.com/product/full-queen-down-alternative-comforter-duvet-insert/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
                    <img width="300" height="300" src="https://twinxl.com/wp-content/uploads/2020/01/White-Reversible-Comforter-Fold-300x300.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" loading="lazy" srcset="https://twinxl.com/wp-content/uploads/2020/01/White-Reversible-Comforter-Fold-300x300.jpg 300w, https://twinxl.com/wp-content/uploads/2020/01/White-Reversible-Comforter-Fold-150x150.jpg 150w, https://twinxl.com/wp-content/uploads/2020/01/White-Reversible-Comforter-Fold-768x768.jpg 768w, https://twinxl.com/wp-content/uploads/2020/01/White-Reversible-Comforter-Fold-600x600.jpg 600w, https://twinxl.com/wp-content/uploads/2020/01/White-Reversible-Comforter-Fold-100x100.jpg 100w, https://twinxl.com/wp-content/uploads/2020/01/White-Reversible-Comforter-Fold.jpg 1000w" sizes="(max-width: 300px) 100vw, 300px">
                    <h2 class="woocommerce-loop-product__title">Down Alternative Duvet Insert</h2>
                    <span class="price">
                        <span class="woocommerce-Price-amount amount">
                            <bdi><span class="woocommerce-Price-currencySymbol">$</span>42.99</bdi>
                        </span>
                    </span>
                </a>
            </li>
        </ul>
    </main>
</div>