<div class="container-small clearfix">
    <main id="content" class="content-full" role="main" style="min-height: 109.812px;">
        <header class="woocommerce-products-header">
            <h1 class="woocommerce-products-header__title page-title">{{ collection.title }}</h1>
        </header>
        <div class="row" style="text-align: center;">
            <div class="col-6 col-md-4">
                <a href="https://twinxl.com/product/twin-xl-microfiber-flat-sheet/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
                    <img width="300" height="300" src="https://twinxl.com/wp-content/uploads/2020/01/Grey-01-Single-Micrifiber-Top-Sheet-0986-19-11-27-300x300.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" loading="lazy" srcset="https://twinxl.com/wp-content/uploads/2020/01/Grey-01-Single-Micrifiber-Top-Sheet-0986-19-11-27-300x300.jpg 300w, https://twinxl.com/wp-content/uploads/2020/01/Grey-01-Single-Micrifiber-Top-Sheet-0986-19-11-27-1024x1024.jpg 1024w, https://twinxl.com/wp-content/uploads/2020/01/Grey-01-Single-Micrifiber-Top-Sheet-0986-19-11-27-150x150.jpg 150w, https://twinxl.com/wp-content/uploads/2020/01/Grey-01-Single-Micrifiber-Top-Sheet-0986-19-11-27-768x768.jpg 768w, https://twinxl.com/wp-content/uploads/2020/01/Grey-01-Single-Micrifiber-Top-Sheet-0986-19-11-27-1536x1536.jpg 1536w, https://twinxl.com/wp-content/uploads/2020/01/Grey-01-Single-Micrifiber-Top-Sheet-0986-19-11-27-2048x2048.jpg 2048w, https://twinxl.com/wp-content/uploads/2020/01/Grey-01-Single-Micrifiber-Top-Sheet-0986-19-11-27-600x600.jpg 600w, https://twinxl.com/wp-content/uploads/2020/01/Grey-01-Single-Micrifiber-Top-Sheet-0986-19-11-27-100x100.jpg 100w, https://twinxl.com/wp-content/uploads/2020/01/Grey-01-Single-Micrifiber-Top-Sheet-0986-19-11-27.jpg 2500w" sizes="(max-width: 300px) 100vw, 300px">
                    <h2 class="woocommerce-loop-product__title">Microfiber Flat Sheet</h2>
                    <span class="price">
                        <span class="woocommerce-Price-amount amount">
                            <bdi><span class="woocommerce-Price-currencySymbol">$</span>14.99</bdi>
                        </span>
                    </span>
                </a>
            </div>
        </div>
    </main>
</div>