<div class="container-small clearfix">
    <main id="content" class="content-full" role="main" style="min-height: 109.812px;">
        <header class="woocommerce-products-header">
            <h1 class="woocommerce-products-header__title page-title">{{ collection.title }}</h1>
        </header>
        <div class="row">
            <div class="col-6 col-md-4" style="text-align: center;">
                <a href="https://twinxl.com/product/twin-microfiber-sheet-set/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
                    <img width="300" height="300" src="https://twinxl.com/wp-content/uploads/2020/01/Dark-Blue-01-Microfiber-Sheet-Set-Folded-Without-Color-Bar-19-11-21-300x300.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" loading="lazy" srcset="https://twinxl.com/wp-content/uploads/2020/01/Dark-Blue-01-Microfiber-Sheet-Set-Folded-Without-Color-Bar-19-11-21-300x300.jpg 300w, https://twinxl.com/wp-content/uploads/2020/01/Dark-Blue-01-Microfiber-Sheet-Set-Folded-Without-Color-Bar-19-11-21-1024x1024.jpg 1024w, https://twinxl.com/wp-content/uploads/2020/01/Dark-Blue-01-Microfiber-Sheet-Set-Folded-Without-Color-Bar-19-11-21-150x150.jpg 150w, https://twinxl.com/wp-content/uploads/2020/01/Dark-Blue-01-Microfiber-Sheet-Set-Folded-Without-Color-Bar-19-11-21-768x768.jpg 768w, https://twinxl.com/wp-content/uploads/2020/01/Dark-Blue-01-Microfiber-Sheet-Set-Folded-Without-Color-Bar-19-11-21-1536x1536.jpg 1536w, https://twinxl.com/wp-content/uploads/2020/01/Dark-Blue-01-Microfiber-Sheet-Set-Folded-Without-Color-Bar-19-11-21-2048x2048.jpg 2048w, https://twinxl.com/wp-content/uploads/2020/01/Dark-Blue-01-Microfiber-Sheet-Set-Folded-Without-Color-Bar-19-11-21-600x600.jpg 600w, https://twinxl.com/wp-content/uploads/2020/01/Dark-Blue-01-Microfiber-Sheet-Set-Folded-Without-Color-Bar-19-11-21-100x100.jpg 100w, https://twinxl.com/wp-content/uploads/2020/01/Dark-Blue-01-Microfiber-Sheet-Set-Folded-Without-Color-Bar-19-11-21.jpg 2448w" sizes="(max-width: 300px) 100vw, 300px">
                    <h2 class="woocommerce-loop-product__title">Microfiber Sheet Set</h2>
                    <span class="price">
                        <span class="woocommerce-Price-amount amount">
                            <bdi><span class="woocommerce-Price-currencySymbol">$</span>27.99</bdi>
                        </span>
                    </span>
                </a>
            </div>
            <div class="col-6 col-md-4" style="text-align: center;">
                <a href="https://twinxl.com/product/twin-jersey-sheet-set/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
                    <img width="300" height="300" src="https://twinxl.com/wp-content/uploads/2020/01/Grey-Jersey-Sheet-Set-Stack-0248-19-11-29-300x300.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" loading="lazy" srcset="https://twinxl.com/wp-content/uploads/2020/01/Grey-Jersey-Sheet-Set-Stack-0248-19-11-29-300x300.jpg 300w, https://twinxl.com/wp-content/uploads/2020/01/Grey-Jersey-Sheet-Set-Stack-0248-19-11-29-1024x1024.jpg 1024w, https://twinxl.com/wp-content/uploads/2020/01/Grey-Jersey-Sheet-Set-Stack-0248-19-11-29-150x150.jpg 150w, https://twinxl.com/wp-content/uploads/2020/01/Grey-Jersey-Sheet-Set-Stack-0248-19-11-29-768x768.jpg 768w, https://twinxl.com/wp-content/uploads/2020/01/Grey-Jersey-Sheet-Set-Stack-0248-19-11-29-1536x1536.jpg 1536w, https://twinxl.com/wp-content/uploads/2020/01/Grey-Jersey-Sheet-Set-Stack-0248-19-11-29-2048x2048.jpg 2048w, https://twinxl.com/wp-content/uploads/2020/01/Grey-Jersey-Sheet-Set-Stack-0248-19-11-29-600x600.jpg 600w, https://twinxl.com/wp-content/uploads/2020/01/Grey-Jersey-Sheet-Set-Stack-0248-19-11-29-100x100.jpg 100w, https://twinxl.com/wp-content/uploads/2020/01/Grey-Jersey-Sheet-Set-Stack-0248-19-11-29.jpg 2500w" sizes="(max-width: 300px) 100vw, 300px">
                    <h2 class="woocommerce-loop-product__title">Jersey Sheet Set</h2>
                    <span class="price">
                        <span class="woocommerce-Price-amount amount">
                            <bdi><span class="woocommerce-Price-currencySymbol">$</span>38.99</bdi>
                        </span>
                    </span>
                </a>
            </div>
            <div class="col-6 col-md-4" style="text-align: center;">
                <a href="https://twinxl.com/product/twin-cotton-flannel-sheet-set/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
                    <img width="300" height="300" src="https://twinxl.com/wp-content/uploads/2020/01/Dark-Blue-Flannel-Sheet-Set-Fold-0079-19-11-29-300x300.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" loading="lazy" srcset="https://twinxl.com/wp-content/uploads/2020/01/Dark-Blue-Flannel-Sheet-Set-Fold-0079-19-11-29-300x300.jpg 300w, https://twinxl.com/wp-content/uploads/2020/01/Dark-Blue-Flannel-Sheet-Set-Fold-0079-19-11-29-1024x1024.jpg 1024w, https://twinxl.com/wp-content/uploads/2020/01/Dark-Blue-Flannel-Sheet-Set-Fold-0079-19-11-29-150x150.jpg 150w, https://twinxl.com/wp-content/uploads/2020/01/Dark-Blue-Flannel-Sheet-Set-Fold-0079-19-11-29-768x768.jpg 768w, https://twinxl.com/wp-content/uploads/2020/01/Dark-Blue-Flannel-Sheet-Set-Fold-0079-19-11-29-1536x1536.jpg 1536w, https://twinxl.com/wp-content/uploads/2020/01/Dark-Blue-Flannel-Sheet-Set-Fold-0079-19-11-29-2048x2048.jpg 2048w, https://twinxl.com/wp-content/uploads/2020/01/Dark-Blue-Flannel-Sheet-Set-Fold-0079-19-11-29-600x600.jpg 600w, https://twinxl.com/wp-content/uploads/2020/01/Dark-Blue-Flannel-Sheet-Set-Fold-0079-19-11-29-100x100.jpg 100w, https://twinxl.com/wp-content/uploads/2020/01/Dark-Blue-Flannel-Sheet-Set-Fold-0079-19-11-29.jpg 2448w" sizes="(max-width: 300px) 100vw, 300px">
                    <h2 class="woocommerce-loop-product__title">Flannel Sheet Set</h2>
                    <span class="price">
                        <span class="woocommerce-Price-amount amount">
                            <bdi><span class="woocommerce-Price-currencySymbol">$</span>42.99</bdi>
                        </span>
                    </span>
                </a>
            </div>
            <div class="col-6 col-md-4" style="text-align: center;">
                <a href="https://twinxl.com/product/twin-polar-fleece-sheet-set/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
                    <img width="300" height="300" src="https://twinxl.com/wp-content/uploads/2020/01/Grey-Fleece-Sheet-Set-Folded-19-11-29-300x300.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" loading="lazy" srcset="https://twinxl.com/wp-content/uploads/2020/01/Grey-Fleece-Sheet-Set-Folded-19-11-29-300x300.jpg 300w, https://twinxl.com/wp-content/uploads/2020/01/Grey-Fleece-Sheet-Set-Folded-19-11-29-1024x1024.jpg 1024w, https://twinxl.com/wp-content/uploads/2020/01/Grey-Fleece-Sheet-Set-Folded-19-11-29-150x150.jpg 150w, https://twinxl.com/wp-content/uploads/2020/01/Grey-Fleece-Sheet-Set-Folded-19-11-29-768x768.jpg 768w, https://twinxl.com/wp-content/uploads/2020/01/Grey-Fleece-Sheet-Set-Folded-19-11-29-1536x1536.jpg 1536w, https://twinxl.com/wp-content/uploads/2020/01/Grey-Fleece-Sheet-Set-Folded-19-11-29-2048x2048.jpg 2048w, https://twinxl.com/wp-content/uploads/2020/01/Grey-Fleece-Sheet-Set-Folded-19-11-29-600x600.jpg 600w, https://twinxl.com/wp-content/uploads/2020/01/Grey-Fleece-Sheet-Set-Folded-19-11-29-100x100.jpg 100w, https://twinxl.com/wp-content/uploads/2020/01/Grey-Fleece-Sheet-Set-Folded-19-11-29.jpg 2500w" sizes="(max-width: 300px) 100vw, 300px">
                    <h2 class="woocommerce-loop-product__title">Fleece Sheet Set</h2>
                    <span class="price">
                        <span class="woocommerce-Price-amount amount">
                            <bdi><span class="woocommerce-Price-currencySymbol">$</span>38.99</bdi>
                        </span>
                    </span>
                </a>
            </div>
        </div>
    </main>
</div>