<div class="container-small clearfix">
    <main id="content" class="content-full" role="main" style="min-height: 109.812px;">
        <header class="woocommerce-products-header">
            <h1 class="woocommerce-products-header__title page-title">{{ collection.title }}</h1>
        </header>
        <div class="row">
            <div class="col-6 col-md-4" style="text-align: center;">
                <a href="https://twinxl.com/product/flannel-duvet-cover-set-twin-xl/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
                    <img width="300" height="300" src="https://twinxl.com/wp-content/uploads/2020/04/Light-Blue-Flannel-Duvet-Cover-01-5903-NO-LOGO-OR-COLORBAR-300x300.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" loading="lazy" srcset="https://twinxl.com/wp-content/uploads/2020/04/Light-Blue-Flannel-Duvet-Cover-01-5903-NO-LOGO-OR-COLORBAR-300x300.jpg 300w, https://twinxl.com/wp-content/uploads/2020/04/Light-Blue-Flannel-Duvet-Cover-01-5903-NO-LOGO-OR-COLORBAR-1024x1024.jpg 1024w, https://twinxl.com/wp-content/uploads/2020/04/Light-Blue-Flannel-Duvet-Cover-01-5903-NO-LOGO-OR-COLORBAR-150x150.jpg 150w, https://twinxl.com/wp-content/uploads/2020/04/Light-Blue-Flannel-Duvet-Cover-01-5903-NO-LOGO-OR-COLORBAR-768x768.jpg 768w, https://twinxl.com/wp-content/uploads/2020/04/Light-Blue-Flannel-Duvet-Cover-01-5903-NO-LOGO-OR-COLORBAR-1536x1536.jpg 1536w, https://twinxl.com/wp-content/uploads/2020/04/Light-Blue-Flannel-Duvet-Cover-01-5903-NO-LOGO-OR-COLORBAR-2048x2048.jpg 2048w, https://twinxl.com/wp-content/uploads/2020/04/Light-Blue-Flannel-Duvet-Cover-01-5903-NO-LOGO-OR-COLORBAR-600x600.jpg 600w, https://twinxl.com/wp-content/uploads/2020/04/Light-Blue-Flannel-Duvet-Cover-01-5903-NO-LOGO-OR-COLORBAR-100x100.jpg 100w, https://twinxl.com/wp-content/uploads/2020/04/Light-Blue-Flannel-Duvet-Cover-01-5903-NO-LOGO-OR-COLORBAR.jpg 2500w" sizes="(max-width: 300px) 100vw, 300px">
                    <h2 class="woocommerce-loop-product__title">Flannel Duvet Cover Set</h2>
                    <span class="price">
                        <span class="woocommerce-Price-amount amount">
                            <bdi><span class="woocommerce-Price-currencySymbol">$</span>42.99</bdi>
                        </span>
                    </span>
                </a>
            </div>
            <div class="col-6 col-md-4" style="text-align: center;">
                <a href="https://twinxl.com/product/sandwashed-duvet-cover-set-twin-xl/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
                    <img width="300" height="300" src="https://twinxl.com/wp-content/uploads/2020/03/Bering-Sea-Sandwash-Duvet-Cover-01-5903-300x300.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" loading="lazy" srcset="https://twinxl.com/wp-content/uploads/2020/03/Bering-Sea-Sandwash-Duvet-Cover-01-5903-300x300.jpg 300w, https://twinxl.com/wp-content/uploads/2020/03/Bering-Sea-Sandwash-Duvet-Cover-01-5903-1024x1024.jpg 1024w, https://twinxl.com/wp-content/uploads/2020/03/Bering-Sea-Sandwash-Duvet-Cover-01-5903-150x150.jpg 150w, https://twinxl.com/wp-content/uploads/2020/03/Bering-Sea-Sandwash-Duvet-Cover-01-5903-768x768.jpg 768w, https://twinxl.com/wp-content/uploads/2020/03/Bering-Sea-Sandwash-Duvet-Cover-01-5903-1536x1536.jpg 1536w, https://twinxl.com/wp-content/uploads/2020/03/Bering-Sea-Sandwash-Duvet-Cover-01-5903-2048x2048.jpg 2048w, https://twinxl.com/wp-content/uploads/2020/03/Bering-Sea-Sandwash-Duvet-Cover-01-5903-600x600.jpg 600w, https://twinxl.com/wp-content/uploads/2020/03/Bering-Sea-Sandwash-Duvet-Cover-01-5903-100x100.jpg 100w, https://twinxl.com/wp-content/uploads/2020/03/Bering-Sea-Sandwash-Duvet-Cover-01-5903.jpg 2500w" sizes="(max-width: 300px) 100vw, 300px">
                    <h2 class="woocommerce-loop-product__title">Sandwash Duvet Cover Set</h2>
                    <span class="price">
                        <span class="woocommerce-Price-amount amount">
                            <bdi><span class="woocommerce-Price-currencySymbol">$</span>29.99</bdi>
                        </span>
                    </span>
                </a>
            </div>
            <div class="col-6 col-md-4" style="text-align: center;">
                <a href="https://twinxl.com/product/twin-microfiber-sheet-set/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
                    <img width="300" height="300" src="https://twinxl.com/wp-content/uploads/2020/01/Dark-Blue-01-Microfiber-Sheet-Set-Folded-Without-Color-Bar-19-11-21-300x300.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" loading="lazy" srcset="https://twinxl.com/wp-content/uploads/2020/01/Dark-Blue-01-Microfiber-Sheet-Set-Folded-Without-Color-Bar-19-11-21-300x300.jpg 300w, https://twinxl.com/wp-content/uploads/2020/01/Dark-Blue-01-Microfiber-Sheet-Set-Folded-Without-Color-Bar-19-11-21-1024x1024.jpg 1024w, https://twinxl.com/wp-content/uploads/2020/01/Dark-Blue-01-Microfiber-Sheet-Set-Folded-Without-Color-Bar-19-11-21-150x150.jpg 150w, https://twinxl.com/wp-content/uploads/2020/01/Dark-Blue-01-Microfiber-Sheet-Set-Folded-Without-Color-Bar-19-11-21-768x768.jpg 768w, https://twinxl.com/wp-content/uploads/2020/01/Dark-Blue-01-Microfiber-Sheet-Set-Folded-Without-Color-Bar-19-11-21-1536x1536.jpg 1536w, https://twinxl.com/wp-content/uploads/2020/01/Dark-Blue-01-Microfiber-Sheet-Set-Folded-Without-Color-Bar-19-11-21-2048x2048.jpg 2048w, https://twinxl.com/wp-content/uploads/2020/01/Dark-Blue-01-Microfiber-Sheet-Set-Folded-Without-Color-Bar-19-11-21-600x600.jpg 600w, https://twinxl.com/wp-content/uploads/2020/01/Dark-Blue-01-Microfiber-Sheet-Set-Folded-Without-Color-Bar-19-11-21-100x100.jpg 100w, https://twinxl.com/wp-content/uploads/2020/01/Dark-Blue-01-Microfiber-Sheet-Set-Folded-Without-Color-Bar-19-11-21.jpg 2448w" sizes="(max-width: 300px) 100vw, 300px">
                    <h2 class="woocommerce-loop-product__title">Microfiber Sheet Set</h2>
                    <span class="price">
                        <span class="woocommerce-Price-amount amount">
                            <bdi><span class="woocommerce-Price-currencySymbol">$</span>27.99</bdi>
                        </span>
                    </span>
                </a>
            </div>
            <div class="col-6 col-md-4" style="text-align: center;">
                <a href="https://twinxl.com/product/twin-jersey-sheet-set/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
                    <img width="300" height="300" src="https://twinxl.com/wp-content/uploads/2020/01/Grey-Jersey-Sheet-Set-Stack-0248-19-11-29-300x300.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" loading="lazy" srcset="https://twinxl.com/wp-content/uploads/2020/01/Grey-Jersey-Sheet-Set-Stack-0248-19-11-29-300x300.jpg 300w, https://twinxl.com/wp-content/uploads/2020/01/Grey-Jersey-Sheet-Set-Stack-0248-19-11-29-1024x1024.jpg 1024w, https://twinxl.com/wp-content/uploads/2020/01/Grey-Jersey-Sheet-Set-Stack-0248-19-11-29-150x150.jpg 150w, https://twinxl.com/wp-content/uploads/2020/01/Grey-Jersey-Sheet-Set-Stack-0248-19-11-29-768x768.jpg 768w, https://twinxl.com/wp-content/uploads/2020/01/Grey-Jersey-Sheet-Set-Stack-0248-19-11-29-1536x1536.jpg 1536w, https://twinxl.com/wp-content/uploads/2020/01/Grey-Jersey-Sheet-Set-Stack-0248-19-11-29-2048x2048.jpg 2048w, https://twinxl.com/wp-content/uploads/2020/01/Grey-Jersey-Sheet-Set-Stack-0248-19-11-29-600x600.jpg 600w, https://twinxl.com/wp-content/uploads/2020/01/Grey-Jersey-Sheet-Set-Stack-0248-19-11-29-100x100.jpg 100w, https://twinxl.com/wp-content/uploads/2020/01/Grey-Jersey-Sheet-Set-Stack-0248-19-11-29.jpg 2500w" sizes="(max-width: 300px) 100vw, 300px">
                    <h2 class="woocommerce-loop-product__title">Jersey Sheet Set</h2>
                    <span class="price">
                        <span class="woocommerce-Price-amount amount">
                            <bdi><span class="woocommerce-Price-currencySymbol">$</span>38.99</bdi>
                        </span>
                    </span>
                </a>
            </div>
            <div class="col-6 col-md-4" style="text-align: center;">
                <a href="https://twinxl.com/product/twin-cotton-flannel-sheet-set/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
                    <img width="300" height="300" src="https://twinxl.com/wp-content/uploads/2020/01/Dark-Blue-Flannel-Sheet-Set-Fold-0079-19-11-29-300x300.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" loading="lazy" srcset="https://twinxl.com/wp-content/uploads/2020/01/Dark-Blue-Flannel-Sheet-Set-Fold-0079-19-11-29-300x300.jpg 300w, https://twinxl.com/wp-content/uploads/2020/01/Dark-Blue-Flannel-Sheet-Set-Fold-0079-19-11-29-1024x1024.jpg 1024w, https://twinxl.com/wp-content/uploads/2020/01/Dark-Blue-Flannel-Sheet-Set-Fold-0079-19-11-29-150x150.jpg 150w, https://twinxl.com/wp-content/uploads/2020/01/Dark-Blue-Flannel-Sheet-Set-Fold-0079-19-11-29-768x768.jpg 768w, https://twinxl.com/wp-content/uploads/2020/01/Dark-Blue-Flannel-Sheet-Set-Fold-0079-19-11-29-1536x1536.jpg 1536w, https://twinxl.com/wp-content/uploads/2020/01/Dark-Blue-Flannel-Sheet-Set-Fold-0079-19-11-29-2048x2048.jpg 2048w, https://twinxl.com/wp-content/uploads/2020/01/Dark-Blue-Flannel-Sheet-Set-Fold-0079-19-11-29-600x600.jpg 600w, https://twinxl.com/wp-content/uploads/2020/01/Dark-Blue-Flannel-Sheet-Set-Fold-0079-19-11-29-100x100.jpg 100w, https://twinxl.com/wp-content/uploads/2020/01/Dark-Blue-Flannel-Sheet-Set-Fold-0079-19-11-29.jpg 2448w" sizes="(max-width: 300px) 100vw, 300px">
                    <h2 class="woocommerce-loop-product__title">Flannel Sheet Set</h2>
                    <span class="price">
                        <span class="woocommerce-Price-amount amount">
                            <bdi><span class="woocommerce-Price-currencySymbol">$</span>42.99</bdi>
                        </span>
                    </span>
                </a>
            </div>
            <div class="col-6 col-md-4" style="text-align: center;">
                <a href="https://twinxl.com/product/twin-polar-fleece-sheet-set/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
                    <img width="300" height="300" src="https://twinxl.com/wp-content/uploads/2020/01/Grey-Fleece-Sheet-Set-Folded-19-11-29-300x300.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" loading="lazy" srcset="https://twinxl.com/wp-content/uploads/2020/01/Grey-Fleece-Sheet-Set-Folded-19-11-29-300x300.jpg 300w, https://twinxl.com/wp-content/uploads/2020/01/Grey-Fleece-Sheet-Set-Folded-19-11-29-1024x1024.jpg 1024w, https://twinxl.com/wp-content/uploads/2020/01/Grey-Fleece-Sheet-Set-Folded-19-11-29-150x150.jpg 150w, https://twinxl.com/wp-content/uploads/2020/01/Grey-Fleece-Sheet-Set-Folded-19-11-29-768x768.jpg 768w, https://twinxl.com/wp-content/uploads/2020/01/Grey-Fleece-Sheet-Set-Folded-19-11-29-1536x1536.jpg 1536w, https://twinxl.com/wp-content/uploads/2020/01/Grey-Fleece-Sheet-Set-Folded-19-11-29-2048x2048.jpg 2048w, https://twinxl.com/wp-content/uploads/2020/01/Grey-Fleece-Sheet-Set-Folded-19-11-29-600x600.jpg 600w, https://twinxl.com/wp-content/uploads/2020/01/Grey-Fleece-Sheet-Set-Folded-19-11-29-100x100.jpg 100w, https://twinxl.com/wp-content/uploads/2020/01/Grey-Fleece-Sheet-Set-Folded-19-11-29.jpg 2500w" sizes="(max-width: 300px) 100vw, 300px">
                    <h2 class="woocommerce-loop-product__title">Fleece Sheet Set</h2>
                    <span class="price">
                        <span class="woocommerce-Price-amount amount">
                            <bdi><span class="woocommerce-Price-currencySymbol">$</span>38.99</bdi>
                        </span>
                    </span>
                </a>
            </div>
            <div class="col-6 col-md-4" style="text-align: center;">
                <a href="https://twinxl.com/product/twin-microfiber-fitted-sheet-21-extra-deep-pocket/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
                    <img width="300" height="300" src="https://twinxl.com/wp-content/uploads/2020/01/White-Microfiber-Fitted-Folded-0256-19-11-27-300x300.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" loading="lazy" srcset="https://twinxl.com/wp-content/uploads/2020/01/White-Microfiber-Fitted-Folded-0256-19-11-27-300x300.jpg 300w, https://twinxl.com/wp-content/uploads/2020/01/White-Microfiber-Fitted-Folded-0256-19-11-27-1024x1024.jpg 1024w, https://twinxl.com/wp-content/uploads/2020/01/White-Microfiber-Fitted-Folded-0256-19-11-27-150x150.jpg 150w, https://twinxl.com/wp-content/uploads/2020/01/White-Microfiber-Fitted-Folded-0256-19-11-27-768x768.jpg 768w, https://twinxl.com/wp-content/uploads/2020/01/White-Microfiber-Fitted-Folded-0256-19-11-27-1536x1536.jpg 1536w, https://twinxl.com/wp-content/uploads/2020/01/White-Microfiber-Fitted-Folded-0256-19-11-27-2048x2048.jpg 2048w, https://twinxl.com/wp-content/uploads/2020/01/White-Microfiber-Fitted-Folded-0256-19-11-27-600x600.jpg 600w, https://twinxl.com/wp-content/uploads/2020/01/White-Microfiber-Fitted-Folded-0256-19-11-27-100x100.jpg 100w, https://twinxl.com/wp-content/uploads/2020/01/White-Microfiber-Fitted-Folded-0256-19-11-27.jpg 2500w" sizes="(max-width: 300px) 100vw, 300px">
                    <h2 class="woocommerce-loop-product__title">Microfiber Extra Deep Pocket Fitted Sheet</h2>
                    <span class="price">
                        <span class="woocommerce-Price-amount amount">
                            <bdi><span class="woocommerce-Price-currencySymbol">$</span>17.99</bdi>
                        </span>
                    </span>
                </a>
            </div>
            <div class="col-6 col-md-4" style="text-align: center;">
                <a href="https://twinxl.com/product/twin-microfiber-fitted-sheet/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
                    <img width="300" height="300" src="https://twinxl.com/wp-content/uploads/2020/01/Dark-Blue-Grey-Microfiber-Fitted-Folded-0256-19-11-27-300x300.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" loading="lazy" srcset="https://twinxl.com/wp-content/uploads/2020/01/Dark-Blue-Grey-Microfiber-Fitted-Folded-0256-19-11-27-300x300.jpg 300w, https://twinxl.com/wp-content/uploads/2020/01/Dark-Blue-Grey-Microfiber-Fitted-Folded-0256-19-11-27-1024x1024.jpg 1024w, https://twinxl.com/wp-content/uploads/2020/01/Dark-Blue-Grey-Microfiber-Fitted-Folded-0256-19-11-27-150x150.jpg 150w, https://twinxl.com/wp-content/uploads/2020/01/Dark-Blue-Grey-Microfiber-Fitted-Folded-0256-19-11-27-768x768.jpg 768w, https://twinxl.com/wp-content/uploads/2020/01/Dark-Blue-Grey-Microfiber-Fitted-Folded-0256-19-11-27-1536x1536.jpg 1536w, https://twinxl.com/wp-content/uploads/2020/01/Dark-Blue-Grey-Microfiber-Fitted-Folded-0256-19-11-27-2048x2048.jpg 2048w, https://twinxl.com/wp-content/uploads/2020/01/Dark-Blue-Grey-Microfiber-Fitted-Folded-0256-19-11-27-600x600.jpg 600w, https://twinxl.com/wp-content/uploads/2020/01/Dark-Blue-Grey-Microfiber-Fitted-Folded-0256-19-11-27-100x100.jpg 100w, https://twinxl.com/wp-content/uploads/2020/01/Dark-Blue-Grey-Microfiber-Fitted-Folded-0256-19-11-27.jpg 2500w" sizes="(max-width: 300px) 100vw, 300px">
                    <h2 class="woocommerce-loop-product__title">Microfiber Fitted Sheet</h2>
                    <span class="price">
                        <span class="woocommerce-Price-amount amount">
                            <bdi><span class="woocommerce-Price-currencySymbol">$</span>14.99</bdi>
                        </span>
                    </span>
                </a>
            </div>
            <div class="col-6 col-md-4" style="text-align: center;">
                <a href="https://twinxl.com/product/twin-flannel-fitted-sheet/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
                    <img width="300" height="300" src="https://twinxl.com/wp-content/uploads/2020/01/Grey-Flannel-Fitted-Sheet-Folded-19-11-29-300x300.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" loading="lazy" srcset="https://twinxl.com/wp-content/uploads/2020/01/Grey-Flannel-Fitted-Sheet-Folded-19-11-29-300x300.jpg 300w, https://twinxl.com/wp-content/uploads/2020/01/Grey-Flannel-Fitted-Sheet-Folded-19-11-29-1024x1024.jpg 1024w, https://twinxl.com/wp-content/uploads/2020/01/Grey-Flannel-Fitted-Sheet-Folded-19-11-29-150x150.jpg 150w, https://twinxl.com/wp-content/uploads/2020/01/Grey-Flannel-Fitted-Sheet-Folded-19-11-29-768x768.jpg 768w, https://twinxl.com/wp-content/uploads/2020/01/Grey-Flannel-Fitted-Sheet-Folded-19-11-29-1536x1536.jpg 1536w, https://twinxl.com/wp-content/uploads/2020/01/Grey-Flannel-Fitted-Sheet-Folded-19-11-29-2048x2048.jpg 2048w, https://twinxl.com/wp-content/uploads/2020/01/Grey-Flannel-Fitted-Sheet-Folded-19-11-29-600x600.jpg 600w, https://twinxl.com/wp-content/uploads/2020/01/Grey-Flannel-Fitted-Sheet-Folded-19-11-29-100x100.jpg 100w, https://twinxl.com/wp-content/uploads/2020/01/Grey-Flannel-Fitted-Sheet-Folded-19-11-29.jpg 2500w" sizes="(max-width: 300px) 100vw, 300px">
                    <h2 class="woocommerce-loop-product__title">Flannel Fitted Sheet</h2>
                    <span class="price">
                        <span class="woocommerce-Price-amount amount">
                            <bdi><span class="woocommerce-Price-currencySymbol">$</span>24.99</bdi>
                        </span>
                    </span>
                </a>
            </div>
            <div class="col-6 col-md-4" style="text-align: center;">
                <a href="https://twinxl.com/product/twin-jersey-fitted-sheet/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
                    <img width="300" height="300" src="https://twinxl.com/wp-content/uploads/2020/01/White-Jersey-Fitted-Sheet-Folded-0968-19-11-29-300x300.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" loading="lazy" srcset="https://twinxl.com/wp-content/uploads/2020/01/White-Jersey-Fitted-Sheet-Folded-0968-19-11-29-300x300.jpg 300w, https://twinxl.com/wp-content/uploads/2020/01/White-Jersey-Fitted-Sheet-Folded-0968-19-11-29-1024x1024.jpg 1024w, https://twinxl.com/wp-content/uploads/2020/01/White-Jersey-Fitted-Sheet-Folded-0968-19-11-29-150x150.jpg 150w, https://twinxl.com/wp-content/uploads/2020/01/White-Jersey-Fitted-Sheet-Folded-0968-19-11-29-768x768.jpg 768w, https://twinxl.com/wp-content/uploads/2020/01/White-Jersey-Fitted-Sheet-Folded-0968-19-11-29-600x600.jpg 600w, https://twinxl.com/wp-content/uploads/2020/01/White-Jersey-Fitted-Sheet-Folded-0968-19-11-29-100x100.jpg 100w, https://twinxl.com/wp-content/uploads/2020/01/White-Jersey-Fitted-Sheet-Folded-0968-19-11-29.jpg 1500w" sizes="(max-width: 300px) 100vw, 300px">
                    <h2 class="woocommerce-loop-product__title">Jersey Fitted Sheet</h2>
                    <span class="price">
                        <span class="woocommerce-Price-amount amount">
                            <bdi><span class="woocommerce-Price-currencySymbol">$</span>13.99</bdi>
                        </span>
                    </span>
                </a>
            </div>
            <div class="col-6 col-md-4" style="text-align: center;">
                <a href="https://twinxl.com/product/twin-polar-fleece-fitted-bottom-sheet/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
                    <img width="300" height="300" src="https://twinxl.com/wp-content/uploads/2020/01/Grey-Fleece-Fitted-Sheet-Folded-19-11-29-300x300.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" loading="lazy" srcset="https://twinxl.com/wp-content/uploads/2020/01/Grey-Fleece-Fitted-Sheet-Folded-19-11-29-300x300.jpg 300w, https://twinxl.com/wp-content/uploads/2020/01/Grey-Fleece-Fitted-Sheet-Folded-19-11-29-1024x1024.jpg 1024w, https://twinxl.com/wp-content/uploads/2020/01/Grey-Fleece-Fitted-Sheet-Folded-19-11-29-150x150.jpg 150w, https://twinxl.com/wp-content/uploads/2020/01/Grey-Fleece-Fitted-Sheet-Folded-19-11-29-768x768.jpg 768w, https://twinxl.com/wp-content/uploads/2020/01/Grey-Fleece-Fitted-Sheet-Folded-19-11-29-1536x1536.jpg 1536w, https://twinxl.com/wp-content/uploads/2020/01/Grey-Fleece-Fitted-Sheet-Folded-19-11-29-2048x2048.jpg 2048w, https://twinxl.com/wp-content/uploads/2020/01/Grey-Fleece-Fitted-Sheet-Folded-19-11-29-600x600.jpg 600w, https://twinxl.com/wp-content/uploads/2020/01/Grey-Fleece-Fitted-Sheet-Folded-19-11-29-100x100.jpg 100w, https://twinxl.com/wp-content/uploads/2020/01/Grey-Fleece-Fitted-Sheet-Folded-19-11-29.jpg 2500w" sizes="(max-width: 300px) 100vw, 300px">
                    <h2 class="woocommerce-loop-product__title">Fleece Fitted Sheet</h2>
                    <span class="price">
                        <span class="woocommerce-Price-amount amount">
                            <bdi><span class="woocommerce-Price-currencySymbol">$</span>22.99</bdi>
                        </span>
                    </span>
                </a>
            </div>
            <div class="col-6 col-md-4" style="text-align: center;">
                <a href="https://twinxl.com/product/twin-twin-xl-down-alternative-microfiber-comforter-set/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
                    <img width="300" height="300" src="https://twinxl.com/wp-content/uploads/2020/01/Light-Blue-Comforter-Set-Fold-19-11-29-300x300.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" loading="lazy" srcset="https://twinxl.com/wp-content/uploads/2020/01/Light-Blue-Comforter-Set-Fold-19-11-29-300x300.jpg 300w, https://twinxl.com/wp-content/uploads/2020/01/Light-Blue-Comforter-Set-Fold-19-11-29-1024x1024.jpg 1024w, https://twinxl.com/wp-content/uploads/2020/01/Light-Blue-Comforter-Set-Fold-19-11-29-150x150.jpg 150w, https://twinxl.com/wp-content/uploads/2020/01/Light-Blue-Comforter-Set-Fold-19-11-29-768x768.jpg 768w, https://twinxl.com/wp-content/uploads/2020/01/Light-Blue-Comforter-Set-Fold-19-11-29-1536x1536.jpg 1536w, https://twinxl.com/wp-content/uploads/2020/01/Light-Blue-Comforter-Set-Fold-19-11-29-2048x2048.jpg 2048w, https://twinxl.com/wp-content/uploads/2020/01/Light-Blue-Comforter-Set-Fold-19-11-29-600x600.jpg 600w, https://twinxl.com/wp-content/uploads/2020/01/Light-Blue-Comforter-Set-Fold-19-11-29-100x100.jpg 100w, https://twinxl.com/wp-content/uploads/2020/01/Light-Blue-Comforter-Set-Fold-19-11-29.jpg 2500w" sizes="(max-width: 300px) 100vw, 300px">
                    <h2 class="woocommerce-loop-product__title">Down Alternative Comforter Set</h2>
                    <span class="price">
                        <span class="woocommerce-Price-amount amount">
                            <bdi><span class="woocommerce-Price-currencySymbol">$</span>38.99</bdi>
                        </span>
                    </span>
                </a>
            </div>
        </div>
        <nav class="woocommerce-pagination">
            <ul class="page-numbers" style="display: table; border: 1px solid #d3ced2; margin-left: auto; margin-right: auto; margin-top: 30px;">
                <li style="display: inline-block; border-right: 1px solid #d3ced2; margin: 0; text-align: center; line-height: 30px; width: 30px; background-color: #ebe9eb;">
                    <span aria-current="page" class="page-numbers current">1</span>
                </li>
                <li style="display: inline-block; border-right: 1px solid #d3ced2; margin: 0; text-align: center; line-height: 30px; width: 30px;">
                    <a class="page-numbers" href="{{ shop.url }}/collections/twin-page-2">2</a>
                </li>
                <li style="display: inline-block; margin: 0; text-align: center; line-height: 30px; width: 30px;">
                    <a class="next page-numbers" href="{{ shop.url }}/collections/twin-page-2">→</a>
                </li>
            </ul>
        </nav>
    </main>
</div>