<main id="content" role="main" style="min-height: 110.812px;">
	<div class="container clearfix">
			
		<article class="article_default">

		<h1><b>{{ page.title }}</b></h1>
<p><span style="font-weight: 400;">Need to order in bulk? We can handle it.&nbsp;</span></p>
<p><span style="font-weight: 400;">TwinXL.com has been the go-to resource for bulk bedding for years. Universities, summer camps, residential facilities, shelters, job corps and more know that Twin XL is the only place to purchase in bulk. Why? Because our sheets fit! We also offer a huge selection of high quality products to meet all of your bedding needs in addition to unbeatable bulk pricing.&nbsp;</span></p>
<p><span style="font-weight: 400;">We are able to fill your bulk bedding wants and desires for Twin, Twin XL, Full XL and Split King mattresses. Need additional bedding sizes? Check our sister site, <a href="https://www.barehome.com/">Bare Home</a>, for all sizes ranging from Twin to California King bedding</span></p>
<h2><b>Request a Quote</b></h2>
<p><span style="font-weight: 400;">Please submit your request for a quote via the form below. One of our friendly TwinXL.com team members will get back to you shortly!</span></p>

{% form 'contact' %}
  {% if form.posted_successfully? %}
    Thank you for contacting us!
  {% else %}
    {{ form.errors | default_errors }}
  {% endif %}

  <div class="first-name">
    <div class="first-name-text">
      <label for="first-name">First name</label>
    </div>
    <input type="text" name="contact[first_name]" id="first-name" />
  </div>

  <div class="last-name">
    <div class="last-name-text">
      <label for="last-name">Last name</label>
    </div>
    <input type="text" name="contact[last_name]" id="last-name" />
  </div>

  <div class="phone">
    <div class="phone-text">
      <label for="phone">Phone</label>
    </div> 
    <input type="tel" name="contact[phone]" id="phone" />
  </div>

  <div class="email">
    <div class="email-text">  
      <label for="email">Email</label>
    </div>
    <input type="email" name="contact[email]" id="email" />
  </div>

  <div class="order-number">
    <div class="order-number-text">
      <label for="order-number">Order number</label>
    </div>
    <input type="text" name="contact[order_number]" id="order-number" />
  </div>

  <div class="message">
    <div class="message-text">
      <label for="message">Message</label>
    </div>
    <textarea name="contact[body]" id="message"></textarea>
  </div>

  <div class="submit">
    <input type="submit" class="gform_button button" value="Submit" />
  </div>
{% endform %}
		</article>			
			</div>
	
	
</main>