<main id="content" role="main" style="min-height: 110.812px;">
	<div class="container clearfix">
			
		<article class="article_default">

		<h1>{{ page.title }} & Shipping</h1>
<h2><strong>How to Return or Exchange an Item</strong></h2>
<p>To initiate a return or exchange please e-mail us at <a href="mailto:orders@twinxl.com">orders@twinxl.com</a>.</p>
<h3>Return Policy</h3>
<p>Products may be returned within 30 days of receipt of the items. All items must be in original condition and in their original packaging. Laundered items will not be accepted. Must include original packing slip with your return.</p>
<p>Restocking fee of ten to twenty-five percent may be assessed for returned product. We cannot refund shipping costs.</p>
<p>You can expect a refund within 2-3 business days after the item is received. You will be refunded the shipping cost if the return is a result of a manufacturer error or a shipping error on our part.</p>
<p>Care instructions state “wash before using”, all customers must ensure their received order is clear of any defects upon arrival &amp; before washing.</p>
<h3>Domestic & International Shipping</h3>
<p>Shipping is free on all orders no matter how large or small within the continental United States. Shipping rates for Hawaii, Alaska, and international orders will be calculated during checkout.</p>

		</article>			
			</div>
	
	
</main>