<div class="container-small clearfix">
    <main id="content" class="content-full" role="main" style="min-height: 110.812px;">
	    <div id="product-2936" class="product type-product post-2936 status-publish first instock product_cat-twin-xl product_cat-twin-xl-sheet-sets product_tag-fitted-sheet product_tag-flat-sheet product_tag-microfiber product_tag-pillowcase product_tag-sheet-set product_tag-twin-extra-long product_tag-twin-xl has-post-thumbnail taxable shipping-taxable purchasable product-type-variable has-default-attributes">
            <div class="woocommerce-product-gallery woocommerce-product-gallery--with-images woocommerce-product-gallery--columns-4 images" data-columns="4" style="opacity: 1; transition: opacity 0.25s ease-in-out 0s;">
                <div class="flex-viewport" style="overflow: hidden; position: relative; height: 384px;">
                    <figure class="woocommerce-product-gallery__wrapper" style="width: 800%; transition-duration: 0s; transform: translate3d(0px, 0px, 0px);">
                        <div data-thumb="https://twinxl.com/wp-content/uploads/2020/03/Dark-Blue-Microfiber-Sheet-Set-03-NO-LOGO-600x600.jpg" data-thumb-alt="" class="attachment-shop_thumbnail woocommerce-product-gallery__image flex-active-slide" data-o_data-thumb="https://twinxl.com/wp-content/uploads/2020/01/Dark-Blue-01-Microfiber-Sheet-Set-Folded-Without-Color-Bar-19-11-21-100x100.jpg" style="width: 384px; margin-right: 0px; float: left; display: block;">
                            <a href="https://twinxl.com/wp-content/uploads/2020/03/Dark-Blue-Microfiber-Sheet-Set-03-NO-LOGO.jpg" data-o_href="https://twinxl.com/wp-content/uploads/2020/01/Dark-Blue-01-Microfiber-Sheet-Set-Folded-Without-Color-Bar-19-11-21.jpg">
                                <img width="600" height="600" src="https://twinxl.com/wp-content/uploads/2020/03/Dark-Blue-Microfiber-Sheet-Set-03-NO-LOGO-600x600.jpg" class="attachment-shop_thumbnail wp-post-image" alt="" loading="lazy" title="Dark-Blue-Microfiber-Sheet-Set-(03)-NO-LOGO" data-caption="" data-src="https://twinxl.com/wp-content/uploads/2020/03/Dark-Blue-Microfiber-Sheet-Set-03-NO-LOGO.jpg" data-large_image="https://twinxl.com/wp-content/uploads/2020/03/Dark-Blue-Microfiber-Sheet-Set-03-NO-LOGO.jpg" data-large_image_width="2107" data-large_image_height="2107" srcset="https://twinxl.com/wp-content/uploads/2020/03/Dark-Blue-Microfiber-Sheet-Set-03-NO-LOGO-600x600.jpg 600w, https://twinxl.com/wp-content/uploads/2020/03/Dark-Blue-Microfiber-Sheet-Set-03-NO-LOGO-300x300.jpg 300w, https://twinxl.com/wp-content/uploads/2020/03/Dark-Blue-Microfiber-Sheet-Set-03-NO-LOGO-1024x1024.jpg 1024w, https://twinxl.com/wp-content/uploads/2020/03/Dark-Blue-Microfiber-Sheet-Set-03-NO-LOGO-150x150.jpg 150w, https://twinxl.com/wp-content/uploads/2020/03/Dark-Blue-Microfiber-Sheet-Set-03-NO-LOGO-768x768.jpg 768w, https://twinxl.com/wp-content/uploads/2020/03/Dark-Blue-Microfiber-Sheet-Set-03-NO-LOGO-1536x1536.jpg 1536w, https://twinxl.com/wp-content/uploads/2020/03/Dark-Blue-Microfiber-Sheet-Set-03-NO-LOGO-2048x2048.jpg 2048w, https://twinxl.com/wp-content/uploads/2020/03/Dark-Blue-Microfiber-Sheet-Set-03-NO-LOGO-100x100.jpg 100w, https://twinxl.com/wp-content/uploads/2020/03/Dark-Blue-Microfiber-Sheet-Set-03-NO-LOGO.jpg 2107w" sizes="(max-width: 600px) 100vw, 600px" data-zoom-image="https://twinxl.com/wp-content/uploads/2020/01/Dark-Blue-01-Microfiber-Sheet-Set-Folded-Without-Color-Bar-19-11-21.jpg" draggable="false" data-o_src="https://twinxl.com/wp-content/uploads/2020/01/Dark-Blue-01-Microfiber-Sheet-Set-Folded-Without-Color-Bar-19-11-21-600x600.jpg" data-o_height="600" data-o_width="600" data-o_srcset="https://twinxl.com/wp-content/uploads/2020/01/Dark-Blue-01-Microfiber-Sheet-Set-Folded-Without-Color-Bar-19-11-21-600x600.jpg 600w, https://twinxl.com/wp-content/uploads/2020/01/Dark-Blue-01-Microfiber-Sheet-Set-Folded-Without-Color-Bar-19-11-21-300x300.jpg 300w, https://twinxl.com/wp-content/uploads/2020/01/Dark-Blue-01-Microfiber-Sheet-Set-Folded-Without-Color-Bar-19-11-21-1024x1024.jpg 1024w, https://twinxl.com/wp-content/uploads/2020/01/Dark-Blue-01-Microfiber-Sheet-Set-Folded-Without-Color-Bar-19-11-21-150x150.jpg 150w, https://twinxl.com/wp-content/uploads/2020/01/Dark-Blue-01-Microfiber-Sheet-Set-Folded-Without-Color-Bar-19-11-21-768x768.jpg 768w, https://twinxl.com/wp-content/uploads/2020/01/Dark-Blue-01-Microfiber-Sheet-Set-Folded-Without-Color-Bar-19-11-21-1536x1536.jpg 1536w, https://twinxl.com/wp-content/uploads/2020/01/Dark-Blue-01-Microfiber-Sheet-Set-Folded-Without-Color-Bar-19-11-21-2048x2048.jpg 2048w, https://twinxl.com/wp-content/uploads/2020/01/Dark-Blue-01-Microfiber-Sheet-Set-Folded-Without-Color-Bar-19-11-21-100x100.jpg 100w, https://twinxl.com/wp-content/uploads/2020/01/Dark-Blue-01-Microfiber-Sheet-Set-Folded-Without-Color-Bar-19-11-21.jpg 2448w" data-o_sizes="(max-width: 600px) 100vw, 600px" data-o_title="Dark Blue 01 Microfiber Sheet Set Folded Without Color Bar 19-11-21" data-o_data-caption="" data-o_alt="" data-o_data-src="https://twinxl.com/wp-content/uploads/2020/01/Dark-Blue-01-Microfiber-Sheet-Set-Folded-Without-Color-Bar-19-11-21.jpg" data-o_data-large_image="https://twinxl.com/wp-content/uploads/2020/01/Dark-Blue-01-Microfiber-Sheet-Set-Folded-Without-Color-Bar-19-11-21.jpg" data-o_data-large_image_width="2448" data-o_data-large_image_height="2448">
                            </a>
                        </div>
                        <div data-thumb="https://twinxl.com/wp-content/uploads/2020/03/Dark-Blue-Microfiber-Sheet-Set-05-NO-LOGO-OR-TEXT-100x100.jpg" data-thumb-alt="" class="attachment-shop_thumbnail woocommerce-product-gallery__image" style="width: 384px; margin-right: 0px; float: left; display: block;">
                            <a href="https://twinxl.com/wp-content/uploads/2020/03/Dark-Blue-Microfiber-Sheet-Set-05-NO-LOGO-OR-TEXT.jpg">
                                <img width="600" height="600" src="https://twinxl.com/wp-content/uploads/2020/03/Dark-Blue-Microfiber-Sheet-Set-05-NO-LOGO-OR-TEXT-600x600.jpg" class="attachment-shop_thumbnail " alt="" loading="lazy" title="Dark-Blue-Microfiber-Sheet-Set-(05)-NO-LOGO-OR-TEXT" data-caption="" data-src="https://twinxl.com/wp-content/uploads/2020/03/Dark-Blue-Microfiber-Sheet-Set-05-NO-LOGO-OR-TEXT.jpg" data-large_image="https://twinxl.com/wp-content/uploads/2020/03/Dark-Blue-Microfiber-Sheet-Set-05-NO-LOGO-OR-TEXT.jpg" data-large_image_width="1000" data-large_image_height="1000" srcset="https://twinxl.com/wp-content/uploads/2020/03/Dark-Blue-Microfiber-Sheet-Set-05-NO-LOGO-OR-TEXT-600x600.jpg 600w, https://twinxl.com/wp-content/uploads/2020/03/Dark-Blue-Microfiber-Sheet-Set-05-NO-LOGO-OR-TEXT-300x300.jpg 300w, https://twinxl.com/wp-content/uploads/2020/03/Dark-Blue-Microfiber-Sheet-Set-05-NO-LOGO-OR-TEXT-150x150.jpg 150w, https://twinxl.com/wp-content/uploads/2020/03/Dark-Blue-Microfiber-Sheet-Set-05-NO-LOGO-OR-TEXT-768x768.jpg 768w, https://twinxl.com/wp-content/uploads/2020/03/Dark-Blue-Microfiber-Sheet-Set-05-NO-LOGO-OR-TEXT-100x100.jpg 100w, https://twinxl.com/wp-content/uploads/2020/03/Dark-Blue-Microfiber-Sheet-Set-05-NO-LOGO-OR-TEXT.jpg 1000w" sizes="(max-width: 600px) 100vw, 600px" data-zoom-image="https://twinxl.com/wp-content/uploads/2020/03/Dark-Blue-Microfiber-Sheet-Set-05-NO-LOGO-OR-TEXT.jpg" draggable="false">
                            </a>
                        </div>
                        <div data-thumb="https://twinxl.com/wp-content/uploads/2020/03/Dark-Blue-Microfiber-Sheet-Set-04-0963-NO-LOGO-100x100.jpg" data-thumb-alt="" class="attachment-shop_thumbnail woocommerce-product-gallery__image" style="width: 384px; margin-right: 0px; float: left; display: block;">
                            <a href="https://twinxl.com/wp-content/uploads/2020/03/Dark-Blue-Microfiber-Sheet-Set-04-0963-NO-LOGO.jpg">
                                <img width="600" height="600" src="https://twinxl.com/wp-content/uploads/2020/03/Dark-Blue-Microfiber-Sheet-Set-04-0963-NO-LOGO-600x600.jpg" class="attachment-shop_thumbnail " alt="" loading="lazy" title="Dark-Blue-Microfiber-Sheet-Set-(04)-0963-NO-LOGO" data-caption="" data-src="https://twinxl.com/wp-content/uploads/2020/03/Dark-Blue-Microfiber-Sheet-Set-04-0963-NO-LOGO.jpg" data-large_image="https://twinxl.com/wp-content/uploads/2020/03/Dark-Blue-Microfiber-Sheet-Set-04-0963-NO-LOGO.jpg" data-large_image_width="2500" data-large_image_height="2500" srcset="https://twinxl.com/wp-content/uploads/2020/03/Dark-Blue-Microfiber-Sheet-Set-04-0963-NO-LOGO-600x600.jpg 600w, https://twinxl.com/wp-content/uploads/2020/03/Dark-Blue-Microfiber-Sheet-Set-04-0963-NO-LOGO-300x300.jpg 300w, https://twinxl.com/wp-content/uploads/2020/03/Dark-Blue-Microfiber-Sheet-Set-04-0963-NO-LOGO-1024x1024.jpg 1024w, https://twinxl.com/wp-content/uploads/2020/03/Dark-Blue-Microfiber-Sheet-Set-04-0963-NO-LOGO-150x150.jpg 150w, https://twinxl.com/wp-content/uploads/2020/03/Dark-Blue-Microfiber-Sheet-Set-04-0963-NO-LOGO-768x768.jpg 768w, https://twinxl.com/wp-content/uploads/2020/03/Dark-Blue-Microfiber-Sheet-Set-04-0963-NO-LOGO-1536x1536.jpg 1536w, https://twinxl.com/wp-content/uploads/2020/03/Dark-Blue-Microfiber-Sheet-Set-04-0963-NO-LOGO-2048x2048.jpg 2048w, https://twinxl.com/wp-content/uploads/2020/03/Dark-Blue-Microfiber-Sheet-Set-04-0963-NO-LOGO-100x100.jpg 100w, https://twinxl.com/wp-content/uploads/2020/03/Dark-Blue-Microfiber-Sheet-Set-04-0963-NO-LOGO.jpg 2500w" sizes="(max-width: 600px) 100vw, 600px" data-zoom-image="https://twinxl.com/wp-content/uploads/2020/03/Dark-Blue-Microfiber-Sheet-Set-04-0963-NO-LOGO.jpg" draggable="false">
                            </a>
                        </div>
                        <div data-thumb="https://twinxl.com/wp-content/uploads/2020/03/Dark-Blue-Microfiber-Sheet-Set-02-5916-NO-LOGO-100x100.jpg" data-thumb-alt="" class="attachment-shop_thumbnail woocommerce-product-gallery__image" style="width: 384px; margin-right: 0px; float: left; display: block;">
                            <a href="https://twinxl.com/wp-content/uploads/2020/03/Dark-Blue-Microfiber-Sheet-Set-02-5916-NO-LOGO.jpg">
                                <img width="600" height="600" src="https://twinxl.com/wp-content/uploads/2020/03/Dark-Blue-Microfiber-Sheet-Set-02-5916-NO-LOGO-600x600.jpg" class="attachment-shop_thumbnail " alt="" loading="lazy" title="Dark-Blue-Microfiber-Sheet-Set-(02)-5916-NO-LOGO" data-caption="" data-src="https://twinxl.com/wp-content/uploads/2020/03/Dark-Blue-Microfiber-Sheet-Set-02-5916-NO-LOGO.jpg" data-large_image="https://twinxl.com/wp-content/uploads/2020/03/Dark-Blue-Microfiber-Sheet-Set-02-5916-NO-LOGO.jpg" data-large_image_width="2500" data-large_image_height="2500" srcset="https://twinxl.com/wp-content/uploads/2020/03/Dark-Blue-Microfiber-Sheet-Set-02-5916-NO-LOGO-600x600.jpg 600w, https://twinxl.com/wp-content/uploads/2020/03/Dark-Blue-Microfiber-Sheet-Set-02-5916-NO-LOGO-300x300.jpg 300w, https://twinxl.com/wp-content/uploads/2020/03/Dark-Blue-Microfiber-Sheet-Set-02-5916-NO-LOGO-1024x1024.jpg 1024w, https://twinxl.com/wp-content/uploads/2020/03/Dark-Blue-Microfiber-Sheet-Set-02-5916-NO-LOGO-150x150.jpg 150w, https://twinxl.com/wp-content/uploads/2020/03/Dark-Blue-Microfiber-Sheet-Set-02-5916-NO-LOGO-768x768.jpg 768w, https://twinxl.com/wp-content/uploads/2020/03/Dark-Blue-Microfiber-Sheet-Set-02-5916-NO-LOGO-1536x1536.jpg 1536w, https://twinxl.com/wp-content/uploads/2020/03/Dark-Blue-Microfiber-Sheet-Set-02-5916-NO-LOGO-2048x2048.jpg 2048w, https://twinxl.com/wp-content/uploads/2020/03/Dark-Blue-Microfiber-Sheet-Set-02-5916-NO-LOGO-100x100.jpg 100w, https://twinxl.com/wp-content/uploads/2020/03/Dark-Blue-Microfiber-Sheet-Set-02-5916-NO-LOGO.jpg 2500w" sizes="(max-width: 600px) 100vw, 600px" data-zoom-image="https://twinxl.com/wp-content/uploads/2020/03/Dark-Blue-Microfiber-Sheet-Set-02-5916-NO-LOGO.jpg" draggable="false">
                            </a>
                        </div>	
                    </figure>
                </div>
                <div class="flex-control-nav flex-control-thumbs row" style="width: 384;">
                    <div class="col-2">
                        <img src="https://twinxl.com/wp-content/uploads/2020/03/Dark-Blue-Microfiber-Sheet-Set-03-NO-LOGO-100x100.jpg" class="flex-active" draggable="false" data-o_src="https://twinxl.com/wp-content/uploads/2020/01/Dark-Blue-01-Microfiber-Sheet-Set-Folded-Without-Color-Bar-19-11-21-100x100.jpg">
                    </div>
                    <div class="col-2">
                        <img src="https://twinxl.com/wp-content/uploads/2020/03/Dark-Blue-Microfiber-Sheet-Set-05-NO-LOGO-OR-TEXT-100x100.jpg" draggable="false">
                    </div>
                    <div class="col-2">
                        <img src="https://twinxl.com/wp-content/uploads/2020/03/Dark-Blue-Microfiber-Sheet-Set-04-0963-NO-LOGO-100x100.jpg" draggable="false">
                    </div>
                    <div class="col-2">
                        <img src="https://twinxl.com/wp-content/uploads/2020/03/Dark-Blue-Microfiber-Sheet-Set-02-5916-NO-LOGO-100x100.jpg" draggable="false">
                    </div>
                </div>
            </div>
            <div class="summary entry-summary">
                <h1 class="product_title entry-title">Microfiber Sheet Set</h1>
                <p class="price">
                    <span class="woocommerce-Price-amount amount">
                        <bdi>
                            <span class="woocommerce-Price-currencySymbol">$</span>
                            27.99
                        </bdi>
                    </span>
                     – 
                    <span class="woocommerce-Price-amount amount">
                        <bdi>
                            <span class="woocommerce-Price-currencySymbol">$</span>
                            29.99
                        </bdi>
                    </span>
                </p>
                <table class="variations" cellspacing="0">
                    <tbody>
                        <tr>
                            <td class="label"><label for="pa_color">Color</label></td>
                            <td class="value woo-variation-items-wrapper">
                                <select id="pa_color" class=" hide woo-variation-raw-select woo-variation-raw-type-image" style="display:none" name="attribute_pa_color" data-attribute_name="attribute_pa_color" data-show_option_none="yes">
                                    <option value="">Choose an option</option>
                                    <option value="heathered-pewter" class="attached enabled">Heather Pewter</option>
                                    <option value="heathered-blueberry" class="attached enabled">Heather Blueberry</option>
                                    <option value="heathered-charcoal" class="attached enabled">Heather Charcoal</option>
                                    <option value="gingham-blue" class="attached enabled">Gingham Blue</option>
                                    <option value="white" class="attached enabled">White</option>
                                    <option value="ivory" class="attached enabled">Cream</option>
                                    <option value="sand" class="attached enabled">Sand</option>
                                    <option value="taupe" class="attached enabled">Taupe</option>
                                    <option value="camel" class="attached enabled">Camel</option>
                                    <option value="cocoa" class="attached enabled">Cocoa</option>
                                    <option value="black" class="attached enabled">Black</option>
                                    <option value="grey" class="attached enabled">Grey</option>
                                    <option value="light-grey" class="attached enabled">Light Grey</option>
                                    <option value="sage" class="attached enabled">Sage</option>
                                    <option value="turquoise" class="attached enabled">Turquoise</option>
                                    <option value="emerald" class="attached enabled">Emerald</option>
                                    <option value="aqua" class="attached enabled">Aqua</option>
                                    <option value="light-blue" class="attached enabled">Light Blue</option>
                                    <option value="coronet-blue" class="attached enabled">Coronet Blue</option>
                                    <option value="medium-blue" class="attached enabled">Medium Blue</option>
                                    <option value="dark-blue" class="attached enabled">Dark Blue</option>
                                    <option value="plum" class="attached enabled">Plum</option>
                                    <option value="lavender" class="attached enabled">Lavender</option>
                                    <option value="light-pink" class="attached enabled">Light Pink</option>
                                    <option value="coral" class="attached enabled">Coral</option>
                                    <option value="red" class="attached enabled">Red</option>
                                    <option value="orange" class="attached enabled">Orange</option>
                                    <option value="lemon-drop" class="attached enabled">Lemon Drop</option>
                                </select>
                                <ul class="variable-items-wrapper image-variable-wrapper" data-attribute_name="attribute_pa_color">
                                    <li data-wvstooltip="Heather Pewter" class="variable-item image-variable-item image-variable-item-heathered-pewter" title="Heather Pewter" data-value="heathered-pewter" role="button" tabindex="0">
                                        <img alt="Heather Pewter" src="https://twinxl.com/wp-content/uploads/2020/01/Heathered-Pewter-Pantone-Color-Swatches-150x150.jpg" width="150" height="150">
                                    </li>
                                    <li data-wvstooltip="Heather Blueberry" class="variable-item image-variable-item image-variable-item-heathered-blueberry" title="Heather Blueberry" data-value="heathered-blueberry" role="button" tabindex="0">
                                        <img alt="Heather Blueberry" src="https://twinxl.com/wp-content/uploads/2020/01/Heathered-Blueberry-Pantone-Color-Swatches-150x150.jpg" width="150" height="150">
                                    </li>
                                    <li data-wvstooltip="Heather Charcoal" class="variable-item image-variable-item image-variable-item-heathered-charcoal" title="Heather Charcoal" data-value="heathered-charcoal" role="button" tabindex="0">
                                        <img alt="Heather Charcoal" src="https://twinxl.com/wp-content/uploads/2020/01/Heathered-Charcoal-Pantone-Color-Swatches-150x150.jpg" width="150" height="150">
                                    </li>
                                    <li data-wvstooltip="Gingham Blue" class="variable-item image-variable-item image-variable-item-gingham-blue" title="Gingham Blue" data-value="gingham-blue" role="button" tabindex="0">
                                        <img alt="Gingham Blue" src="https://twinxl.com/wp-content/uploads/2019/09/Gingham-Blue.jpg" width="100" height="100">
                                    </li>
                                    <li data-wvstooltip="White" class="variable-item image-variable-item image-variable-item-white" title="White" data-value="white" role="button" tabindex="0">
                                        <img alt="White" src="https://twinxl.com/wp-content/uploads/2019/09/Bright-White.jpg" width="100" height="100">
                                    </li>
                                    <li data-wvstooltip="Cream" class="variable-item image-variable-item image-variable-item-ivory" title="Cream" data-value="ivory" role="button" tabindex="0">
                                        <img alt="Cream" src="https://twinxl.com/wp-content/uploads/2019/08/IvoryV2.jpg" width="100" height="100">
                                    </li>
                                    <li data-wvstooltip="Sand" class="variable-item image-variable-item image-variable-item-sand" title="Sand" data-value="sand" role="button" tabindex="0">
                                        <img alt="Sand" src="https://twinxl.com/wp-content/uploads/2019/09/Sand-New-8-8-18.jpg" width="100" height="100">
                                    </li>
                                    <li data-wvstooltip="Taupe" class="variable-item image-variable-item image-variable-item-taupe" title="Taupe" data-value="taupe" role="button" tabindex="0">
                                        <img alt="Taupe" src="https://twinxl.com/wp-content/uploads/2019/09/Taupe.jpg" width="100" height="100">
                                    </li>
                                    <li data-wvstooltip="Camel" class="variable-item image-variable-item image-variable-item-camel" title="Camel" data-value="camel" role="button" tabindex="0">
                                        <img alt="Camel" src="https://twinxl.com/wp-content/uploads/2019/08/Camel.jpg" width="100" height="100">
                                    </li>
                                    <li data-wvstooltip="Cocoa" class="variable-item image-variable-item image-variable-item-cocoa" title="Cocoa" data-value="cocoa" role="button" tabindex="0">
                                        <img alt="Cocoa" src="https://twinxl.com/wp-content/uploads/2019/09/Cocoa.jpg" width="100" height="100">
                                    </li>
                                    <li data-wvstooltip="Black" class="variable-item image-variable-item image-variable-item-black" title="Black" data-value="black" role="button" tabindex="0">
                                        <img alt="Black" src="https://twinxl.com/wp-content/uploads/2019/09/Black.jpg" width="100" height="100">
                                    </li>
                                    <li data-wvstooltip="Grey" class="variable-item image-variable-item image-variable-item-grey" title="Grey" data-value="grey" role="button" tabindex="0">
                                        <img alt="Grey" src="https://twinxl.com/wp-content/uploads/2019/09/Grey.jpg" width="100" height="100">
                                    </li>
                                    <li data-wvstooltip="Light Grey" class="variable-item image-variable-item image-variable-item-light-grey" title="Light Grey" data-value="light-grey" role="button" tabindex="0">
                                        <img alt="Light Grey" src="https://twinxl.com/wp-content/uploads/2019/09/Light-Grey.jpg" width="100" height="100">
                                    </li>
                                    <li data-wvstooltip="Sage" class="variable-item image-variable-item image-variable-item-sage" title="Sage" data-value="sage" role="button" tabindex="0">
                                        <img alt="Sage" src="https://twinxl.com/wp-content/uploads/2019/09/Sage.jpg" width="100" height="100">
                                    </li>
                                    <li data-wvstooltip="Turquoise" class="variable-item image-variable-item image-variable-item-turquoise" title="Turquoise" data-value="turquoise" role="button" tabindex="0">
                                        <img alt="Turquoise" src="https://twinxl.com/wp-content/uploads/2019/08/Turquoise.jpg" width="100" height="100">
                                    </li>
                                    <li data-wvstooltip="Emerald" class="variable-item image-variable-item image-variable-item-emerald" title="Emerald" data-value="emerald" role="button" tabindex="0">
                                        <img alt="Emerald" src="https://twinxl.com/wp-content/uploads/2019/08/Emerald.jpg" width="100" height="100">
                                    </li>
                                    <li data-wvstooltip="Aqua" class="variable-item image-variable-item image-variable-item-aqua" title="Aqua" data-value="aqua" role="button" tabindex="0">
                                        <img alt="Aqua" src="https://twinxl.com/wp-content/uploads/2019/09/Aqua.jpg" width="100" height="100">
                                    </li>
                                    <li data-wvstooltip="Light Blue" class="variable-item image-variable-item image-variable-item-light-blue" title="Light Blue" data-value="light-blue" role="button" tabindex="0">
                                        <img alt="Light Blue" src="https://twinxl.com/wp-content/uploads/2019/09/Light-Blue.jpg" width="100" height="100">
                                    </li>
                                    <li data-wvstooltip="Coronet Blue" class="variable-item image-variable-item image-variable-item-coronet-blue" title="Coronet Blue" data-value="coronet-blue" role="button" tabindex="0">
                                        <img alt="Coronet Blue" src="https://twinxl.com/wp-content/uploads/2020/07/Coronet-Blue-Swatch-150x150.jpg" width="150" height="150">
                                    </li>
                                    <li data-wvstooltip="Medium Blue" class="variable-item image-variable-item image-variable-item-medium-blue" title="Medium Blue" data-value="medium-blue" role="button" tabindex="0">
                                        <img alt="Medium Blue" src="https://twinxl.com/wp-content/uploads/2019/08/Medium-Blue.jpg" width="100" height="100">
                                    </li>
                                    <li data-wvstooltip="Dark Blue" class="variable-item image-variable-item image-variable-item-dark-blue selected" title="Dark Blue" data-value="dark-blue" role="button" tabindex="0">
                                        <img alt="Dark Blue" src="https://twinxl.com/wp-content/uploads/2019/09/Dark-Blue.jpg" width="100" height="100">
                                    </li>
                                    <li data-wvstooltip="Plum" class="variable-item image-variable-item image-variable-item-plum" title="Plum" data-value="plum" role="button" tabindex="0">
                                        <img alt="Plum" src="https://twinxl.com/wp-content/uploads/2019/09/Plum.jpg" width="100" height="100">
                                    </li>
                                    <li data-wvstooltip="Lavender" class="variable-item image-variable-item image-variable-item-lavender" title="Lavender" data-value="lavender" role="button" tabindex="0">
                                        <img alt="Lavender" src="https://twinxl.com/wp-content/uploads/2019/08/Lavender.jpg" width="100" height="100">
                                    </li>
                                    <li data-wvstooltip="Light Pink" class="variable-item image-variable-item image-variable-item-light-pink" title="Light Pink" data-value="light-pink" role="button" tabindex="0">
                                        <img alt="Light Pink" src="https://twinxl.com/wp-content/uploads/2019/08/Light-Pink.jpg" width="100" height="100">
                                    </li>
                                    <li data-wvstooltip="Coral" class="variable-item image-variable-item image-variable-item-coral" title="Coral" data-value="coral" role="button" tabindex="0">
                                        <img alt="Coral" src="https://twinxl.com/wp-content/uploads/2019/08/Coral.jpg" width="100" height="100">
                                    </li>
                                    <li data-wvstooltip="Red" class="variable-item image-variable-item image-variable-item-red" title="Red" data-value="red" role="button" tabindex="0">
                                        <img alt="Red" src="https://twinxl.com/wp-content/uploads/2019/09/Red.jpg" width="100" height="100">
                                    </li>
                                    <li data-wvstooltip="Orange" class="variable-item image-variable-item image-variable-item-orange" title="Orange" data-value="orange" role="button" tabindex="0">
                                        <img alt="Orange" src="https://twinxl.com/wp-content/uploads/2019/08/Orange.jpg" width="100" height="100">
                                    </li>
                                    <li data-wvstooltip="Lemon Drop" class="variable-item image-variable-item image-variable-item-lemon-drop" title="Lemon Drop" data-value="lemon-drop" role="button" tabindex="0">
                                        <img alt="Lemon Drop" src="https://twinxl.com/wp-content/uploads/2019/08/Lemon-Drop.jpg" width="100" height="100">
                                    </li>
                                </ul>
                                <a class="reset_variations" href="#" style="visibility: visible;">Clear</a>						
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="single_variation_wrap">
                    <div class="woocommerce-variation single_variation">
                        <div class="woocommerce-variation-description">
                            <p>
                                Ultra-soft all season fabric to keep you cool in the summer and cozy in the winter. Size: Twin XL, Color: Dark Blue
                            </p>
                        </div>
                        <div class="woocommerce-variation-price">
                            <span class="price">
                                <span class="woocommerce-Price-amount amount">
                                    <bdi>
                                        <span class="woocommerce-Price-currencySymbol">$</span>
                                        27.99
                                    </bdi>
                                </span>
                            </span>
                        </div>
                        <div class="woocommerce-variation-availability">
                            <p class="stock in-stock">In stock</p>
                        </div>
                    </div>
                    <div class="woocommerce-variation-add-to-cart variations_button woocommerce-variation-add-to-cart-enabled">
                        <div class="quantity">
                            <label class="screen-reader-text" for="quantity_6263821d48a35">Microfiber Sheet Set quantity</label><input type="number" id="quantity_6263821d48a35" class="input-text qty text" step="1" min="1" max="1347" name="quantity" value="1" title="Qty" size="4" placeholder="" inputmode="numeric">
                        </div>
                        <button type="submit" class="single_add_to_cart_button button alt" style="background-color:#ff5c2f;">Add to cart</button>
                        <input type="hidden" name="add-to-cart" value="2936">
                        <input type="hidden" name="product_id" value="2936">
                        <input type="hidden" name="variation_id" class="variation_id" value="5061">
                    </div>
                </div>
                <div class="product_meta">
                    <span class="sku_wrapper">
                        SKU: <span class="sku" data-o_content="Microfiber-Twin-XL-Sheet-Set-Parent">MF-Microfiber-Twin-XL-Sheet-Set-16</span>
                    </span>
                    <span class="posted_in">Categories: <a href="https://twinxl.com/product-category/shop/twin-xl/" rel="tag">Twin XL</a>, <a href="https://twinxl.com/product-category/shop/twin-xl/twin-xl-sheet-sets/" rel="tag">Twin XL Sheet Sets</a>
                    </span>
                    <span class="tagged_as">Tags: <a href="https://twinxl.com/product-tag/fitted-sheet/" rel="tag">Fitted Sheet</a>, <a href="https://twinxl.com/product-tag/flat-sheet/" rel="tag">Flat Sheet</a>, <a href="https://twinxl.com/product-tag/microfiber/" rel="tag">Microfiber</a>, <a href="https://twinxl.com/product-tag/pillowcase/" rel="tag">Pillowcase</a>, <a href="https://twinxl.com/product-tag/sheet-set/" rel="tag">Sheet Set</a>, <a href="https://twinxl.com/product-tag/twin-extra-long/" rel="tag">Twin Extra Long</a>, <a href="https://twinxl.com/product-tag/twin-xl/" rel="tag">Twin XL</a>
                    </span>
                </div>
            </div>
            <div class="woocommerce-tabs wc-tabs-wrapper">
                <div class="row tabs wc-tabs" role="tablist" style="margin: 0 0 1.618em;">
                    <div class="description_tab active col-6 col-md-4" id="tab-title-description" role="tab" aria-controls="tab-description">
                        <a href="#tab-description" class="active" style="border-bottom: solid 1px; color: #1b3564; display: inline-block; font-weight: 700;"> Features </a>
                    </div>
                </div>
                <div class="woocommerce-Tabs-panel woocommerce-Tabs-panel--description panel entry-content wc-tab" id="tab-description" role="tabpanel" aria-labelledby="tab-title-description" style="">
                    <p>
                        Three piece microfiber sheet set for twin XL mattresses! Microfiber sheets are well known for their softness and durability as well as being wrinkle resistant. Our soft twin extra long microfiber sheet set features a brushed surface and is machine washable for easy care. Fits mattresses up to 15 inches deep.
                    </p>
                    <ul>
                        <li>100% Ultra-Soft Wrinkle Resistant Microfiber</li>
                        <li>Microfiber is breathable, stain resistant, hypoallergenic and resistant to dust mites</li>
                        <li>Easy Care: Machine wash in cold water with similar colors. Tumble dry low. Do not bleach.</li>
                        <li>1 Twin XL Flat/Top Sheet (66″ x 100″)</li>
                        <li>1 Twin XL Fitted/Bottom Sheet (39″ x 80″ x 15″)</li>
                        <li>1 Standard Pillowcase (20″ x 30″)</li>
                    </ul>
                </div>
            </div>
            <script type="text/javascript"> 
            var sa_products_count = 3; 
            var sa_date_format = 'm/d/Y'; 
            var sa_product = 'Microfiber-Twin-XL-Sheet-Set-Parent'; 

            (function(w,d,t,f,o,s,a){ o = 'shopperapproved'; if (!w[o]) { w[o] = function() { (w[o].arg = w[o].arg || []).push(arguments) }; s=d.createElement(t), a=d.getElementsByTagName(t)[0];s.async=1;s.src=f;a.parentNode.insertBefore(s,a)} })(window,document,'script','//www.shopperapproved.com/product/14622/'+sa_product+'.js'); </script>
            <section id="shopper-approved-product-reviews">
                <div class="reviews-header" style="text-align: center;">
                    <p class="h2">Reviews</p>
                </div>
                <div id="shopper_review_page">
                    <div id="review_header">
                        <div class="merchantheader">
                            We're currently collecting product reviews for this item. In the meantime, here are some reviews from our past customers sharing their overall shopping experience. 
                        </div>
                        <div class="overall block">
                            <div class="numbers color5">4.7</div>
                            <div class="outof">
                                <div>Out of 5.0</div>
                            </div>
                        </div>
                        <img class="graph block" alt="A graph showing this site's review totals." src="//www.shopperapproved.com/custom/values-19.18.183.710.2554/gold-bars.png">
                        <div class="stars block">
                            <div class="desc">Overall Rating</div>
                            <span class="on"></span>
                            <span class="on"></span>
                            <span class="on"></span>
                            <span class="on"></span>
                            <span class="on half"></span>
                        </div>
                        <div class="percentage block">
                            <div class="numbers">94%</div>
                            of customers that buy
                            <br>
                            from this merchant give 
                            <br>
                            them a 4 or 5-Star rating.
                        </div>
                        <div style="clear:both;"></div>
                        <div id="sa_media_view"></div>
                        <div id="sa_media_background"></div>
                    </div>
                    <div id="product_page" style="opacity: 1;">
                        <div id="sa_review_section" style="min-height: 564px;">
                            <div class="product_review">
                                <div class="main-questions">
                                    <div class="rating">
                                        <div class="stars">
                                            <span class="on"></span>
                                            <span class="on"></span>
                                            <span class="on"></span>
                                            <span class="on"></span>
                                            <span class="on"></span>
                                        </div>
                                        <div class="images">
                                            <div class="verified">Verified Buyer</div>
                                        </div>
                                    </div>
                                    <div class="info" style="margin-top: 10px;">
                                        10/02/2019 by 
                                        <span class="name">Karen G.</span>
                                        (United States)
                                    </div>
                                    <div class="comments">“Easy to navigate.”</div>
                                </div>
                                <div class="end_placeholder"></div>
                            </div>
                            <div class="product_review">
                                <div class="main-questions">
                                    <div class="rating">
                                        <div class="stars">
                                            <span class="on"></span>
                                            <span class="on"></span>
                                            <span class="on"></span>
                                            <span class="on"></span>
                                            <span class="on"></span>
                                        </div>
                                        <div class="images">
                                            <div class="verified">Verified Buyer</div>
                                        </div>
                                    </div>
                                    <div class="info" style="margin-top: 10px;">
                                        09/25/2019 by 
                                        <span class="name">Shirley F.</span>
                                    </div>
                                    <div class="comments">“very good”</div>
                                </div>
                                <div class="end_placeholder"></div>
                            </div>
                            <div class="product_review">
                                <div class="main-questions">
                                    <div class="rating">
                                        <div class="stars">
                                            <span class="on"></span>
                                            <span class="on"></span>
                                            <span class="on"></span>
                                            <span class="on"></span>
                                            <span class="on"></span>
                                        </div>
                                        <div class="images">
                                            <div class="verified">Verified Buyer</div>
                                        </div>
                                    </div>
                                    <div class="info" style="margin-top: 10px;">
                                        09/10/2019 by 
                                        <span class="name">Karen B.</span> 
                                    </div>
                                    <div class="comments">
                                        “Not yet sure if I will buy again until I get my order but the purchasing experience has been positive so far.  I need deep pocket twin XL sheets for my split king adjustable bed and these are the only really deep pockets Twin XLs I have found.  I hope they fit my need.  If they do I sure wish they would come in other colors.”
                                    </div>
                                </div>
                                <div class="end_placeholder"></div>
                            </div>
                        </div>
                        <div id="sa_review_paging" class="paging">
                            <input type="button" class="sa_page active" value="1">
                            <input type="button" class="sa_page " value="2">
                            <input type="button" class="sa_page" value="3">
                            <input type="button" class="sa_page arrow" value=" ▸       2">
                            <br>
                            <label for="sa_sort">Display Options</label>
                            <select id="sa_sort" title="Sort Reviews">
                                <option value="" disabled="" style="display: none;">Sort Reviews
                                </option>
                                <option value="high" selected="selected">Highest to Lowest
                                </option>
                                <option value="new">Newest to Oldest</option>
                                <option value="old">Oldest to Newest</option>
                                <option value="low">Lowest to Highest</option>
                                <option value="featured">Featured Reviews</option>
                            </select>
                        </div>
                    </div>
                    <div id="review_image">
                        <a href="https://www.shopperapproved.com/reviews/twinxl.com/" onclick="var nonwin=navigator.appName!='Microsoft Internet Explorer'?'yes':'no'; var certheight=screen.availHeight-90; window.open(this.href,'shopperapproved','location='+nonwin+',scrollbars=yes,width=620,height='+certheight+',menubar=no,toolbar=no'); return false;" target="_blank" rel="nofollow">
                            <img class="sa_logo" src="//www.shopperapproved.com/widgets/images/widgetfooter-darklogo-eng.png" alt="Shopper Approved">
                        </a>
                    </div>
                </div>
            </section>
            <section class="up-sells upsells products section-last">
                <h2>You may also like…</h2>
                <div class="row">
                    <div class="col-6 col-md-4 product type-product post-2964 status-publish first instock product_cat-twin product_cat-twin-comforters-sets product_cat-twin-xl product_cat-twin-xl-comforters-sets product_tag-comforter product_tag-down-alternative product_tag-microfiber product_tag-reversible product_tag-twin product_tag-twin-extra-long product_tag-twin-xl has-post-thumbnail taxable shipping-taxable purchasable product-type-variable has-default-attributes" style="text-align: center;">
                        <a href="https://twinxl.com/product/twin-twin-xl-reversible-ultra-soft-down-alternative-comforter/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
                            <img width="176.4" height="176.4" src="https://twinxl.com/wp-content/uploads/2020/01/Grey-Dark-Blue-Reversible-Comforter-Fold-300x300.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" loading="lazy" srcset="https://twinxl.com/wp-content/uploads/2020/01/Grey-Dark-Blue-Reversible-Comforter-Fold-300x300.jpg 300w, https://twinxl.com/wp-content/uploads/2020/01/Grey-Dark-Blue-Reversible-Comforter-Fold-150x150.jpg 150w, https://twinxl.com/wp-content/uploads/2020/01/Grey-Dark-Blue-Reversible-Comforter-Fold-768x768.jpg 768w, https://twinxl.com/wp-content/uploads/2020/01/Grey-Dark-Blue-Reversible-Comforter-Fold-600x600.jpg 600w, https://twinxl.com/wp-content/uploads/2020/01/Grey-Dark-Blue-Reversible-Comforter-Fold-100x100.jpg 100w, https://twinxl.com/wp-content/uploads/2020/01/Grey-Dark-Blue-Reversible-Comforter-Fold.jpg 1000w" sizes="(max-width: 300px) 100vw, 300px">
                            <h2 class="woocommerce-loop-product__title" style="font-size: 1em;">Reversible Down Alternative Comforter</h2>
                            <span class="price">
                                <span class="woocommerce-Price-amount amount">
                                    <bdi>
                                        <span class="woocommerce-Price-currencySymbol">$</span>
                                        37.99
                                        <bdi>
                                            <span></span>
                                        </bdi>
                                    </bdi>
                                </span>
                            </span>    
                        </a>
                    </div>
                    <div class="col-6 col-md-4 product type-product post-2941 status-publish instock product_cat-accessories product_cat-mattress-pillow-protectors product_tag-cotton product_tag-full-extra-long product_tag-full-xl product_tag-mattress-protector product_tag-terry-cloth product_tag-twin product_tag-twin-extra-long product_tag-twin-xl product_tag-waterproof has-post-thumbnail taxable shipping-taxable purchasable product-type-variable has-default-attributes" style="text-align: center;">
                        <a href="https://twinxl.com/product/cotton-terry-mattress-protector/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
                            <img width="176.4" height="176.4" src="https://twinxl.com/wp-content/uploads/2020/01/Terry-Mattress-Protector-Folded-19-11-25-300x300.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" loading="lazy" srcset="https://twinxl.com/wp-content/uploads/2020/01/Terry-Mattress-Protector-Folded-19-11-25-300x300.jpg 300w, https://twinxl.com/wp-content/uploads/2020/01/Terry-Mattress-Protector-Folded-19-11-25-1024x1024.jpg 1024w, https://twinxl.com/wp-content/uploads/2020/01/Terry-Mattress-Protector-Folded-19-11-25-150x150.jpg 150w, https://twinxl.com/wp-content/uploads/2020/01/Terry-Mattress-Protector-Folded-19-11-25-768x768.jpg 768w, https://twinxl.com/wp-content/uploads/2020/01/Terry-Mattress-Protector-Folded-19-11-25-1536x1536.jpg 1536w, https://twinxl.com/wp-content/uploads/2020/01/Terry-Mattress-Protector-Folded-19-11-25-2048x2048.jpg 2048w, https://twinxl.com/wp-content/uploads/2020/01/Terry-Mattress-Protector-Folded-19-11-25-600x600.jpg 600w, https://twinxl.com/wp-content/uploads/2020/01/Terry-Mattress-Protector-Folded-19-11-25-100x100.jpg 100w, https://twinxl.com/wp-content/uploads/2020/01/Terry-Mattress-Protector-Folded-19-11-25.jpg 2500w" sizes="(max-width: 300px) 100vw, 300px">
                            <h2 class="woocommerce-loop-product__title">Mattress Protector</h2>
                            <span class="price">
                                <span class="woocommerce-Price-amount amount">
                                    <bdi>
                                        <span class="woocommerce-Price-currencySymbol">$</span>
                                        24.99
                                    </bdi>
                                </span>
                                 – 
                                <span class="woocommerce-Price-amount amount">
                                    <bdi>
                                        <span class="woocommerce-Price-currencySymbol">$</span>
                                        26.99
                                    </bdi>
                                </span>
                            </span>
                        </a>
                    </div>
                </div>
            </section> 
        </div>
    </main>
</div>